/**********************************************************
* reset for all browsers
**********************************************************/

* {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

/**********************************************************
* html tags
**********************************************************/

body {
	font-family: Georgia, verdana arial, sans-serif, Courier New;
	background-image: url(../img/body_bg.jpg);
	background-repeat: repeat-x;
	font-size: 62.5%;
	margin: 10px 0px;
}

h2, h3, h4, h5, h6, p, ul {
	margin-bottom: 13px;
}

h2 {
	font-size: 1.8em;
	font-weight: bold;
	color: #9f2800;
}

p {
	text-align: justify;
}
ul {
	margin-left: 25px;
	list-style: circle;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: bold;
	color: #000;
}

a:hover, a:active {
	background: #696969;
	color: #fff;
}

h1 span {
	display:none;
}

div.clear {
	clear: both;
}

/**********************************************************
* ids
**********************************************************/

#shading {
	border: 4px solid #ddd;
	width: 750px;
	margin: 0 auto;
	background: #fff;
}

#container {
	border: 6px solid #9f2800;
	width: 738px;
}

#logo {
	display:block;
	height:51px;
	width:412px;
	background-image:url(../img/logo.jpg);
	background-repeat:no-repeat;
}

#header {
	margin: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
	background: url(../img/header-bg.jpg) no-repeat 600px 3px;
}

#header h1 span {
	display: none;
}

#content {
	margin: 10px;
	padding: 5px 15px 0px 15px;
	font-size: 1.2em;
	background-image:url(../img/main_bg.jpg);
	background-position: bottom right;
	background-repeat:no-repeat;
}

#content img {
	display: inline-block;
}

#footer {
	margin: 10px;
	padding: 0px 15px;
	border: 1px solid #ccc;
	background:#eee;
	height: 40px;
	font-size: 1.1em;
	line-height: 42px;
	color: #696969;
	clear: both;
}

#footer_left {
	float: left;
	width: 50%;
}

#footer_right {
	float: right;
	width: 50%;
	text-align: right;
}

/**********************************************************
* navigation
**********************************************************/

#navcontainer{
	margin: 10px;
	margin-bottom: 0px;
	border: 1px solid #999;
	background:#eeeeee;
	height:33px;
	clear:right;  /* Required for everything except IE Win. */
}

ul#menu, #menu li { 
	display:inline; 
	list-style-type:none;
}

#menu li a { 
	float:left;
	text-transform: uppercase;
	display: block; 
	line-height:14px; 
	padding:10px 15px 10px 15px;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	border-right: 1px solid #ccc;
	color: #000;
}

#menu li a:hover, 
body#homeon #home a, 
body#abouton #about a, 
body#galleryon #gallery a, 
body#faqon #faq a, 
body#teston #test a,
body#woodcrafton #woodcraft a,
body#contacton #contact a {
	background:#9f2800; 
	color:#fff; 
}

ul#gallery_menu {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	
}

#gallery_menu li {
	margin: 0px;
	padding: 0px;
}

#gallery_menu a {
	display: block;
	width: 638px;
	padding: 23px;
	background-color: #8A8A8A;
	border-bottom: 1px solid #eee;
	font-size: 2.5em;
	text-align: right;
	color: #ddd;
	filter:alpha(opacity=80);
	opacity: 0.8;
	-moz-opacity:0.8;
}

#gallery_menu a:hover {
	color: #ddd;
	background-color: #8A8A8A;
	text-decoration: none;
	filter:alpha(opacity=60);
	opacity: 0.6;
	-moz-opacity:0.6;	
}

/* faq styles */
.question {
	margin-top: 10px;
}

.answer {
	display: none;
	margin-bottom: 15px;
}

#contact_main {
	float: left;
	width: 448px;
}

#contact_sub {
	float: right;
	width: 238px;
}

#clear {
	clear:both;
	padding-bottom: 1px;
	margin-bottom: -15px;
}

input.normal {
	border: 1px solid #ccc;
	padding: 6px;
	width: 300px;
}

textarea {
	border: 1px solid #ccc;
	padding: 6px;
	width: 300px;
	height: 80px;
}

input.button {
	background: #eee;
	border: 1px solid #ccc;
	padding: 6px;
	font-family: Georgia, verdana arial, sans-serif, Courier New;
	width: 100px;
	font-weight: bold;
	cursor: hand;
}

dt {
	margin-top: 10px;
}

#left {
	width: 330px;
	display: inline;
	float: left;
	padding-right: 10px;
}

#right {
	width: 330px;
	display: inline;
	float: right;
	padding-left: 10px;
}

/********************************************
* Gallery
********************************************/

ul.gallery {
	list-style: none;
	margin: 0px;
}

ul.gallery li { 
	background: transparent; 
	list-style: none; 
	float: left; 
	display: inline;
	margin: 2px; 
	padding: 2px; 
}

ul.gallery li img { 
	background: transparent url(../img/thumb-bg.jpg) repeat-x; 
	border-top: 1px solid #F6F6F6; 
	border-right: 1px solid #E2E2E2; 
	border-left: 1px solid #F6F6F6; 
	border-bottom: 1px solid #D7D7D7; 
	padding: 10px; 
	width: 142px; 
	height: 142px; 
}

/* Add border and bg colour hover around the image */
/* For internet explorer, place this in own CSS file */
ul.gallery a:hover{ 
	background-color: transparent; 
}
/* For everything else */
ul.gallery a:hover img { 
	border: 1px solid #9F2800; 
	background-color: transparent; 
}

table#homeLinks {
	border-collapse: collapse;
}

table#homeLinks tr {
	vertical-align: top;
}

table#homeLinks tr td {
	padding: 5px 10px 2px 10px;
	text-align: center;
}

table#homeLinks tr td p {
	text-align: left;
}

table#homeLinks a:link, table#homeLinks a:visited {
	display: block;
	width: 180px;
	height: 180px;
	border: 10px solid #A0290B;
	text-indent: -9999em;
	text-decoration: none;
	overflow: hidden;
}

table#homeLinks a:hover, table#homeLinks a:active {
	border: 10px solid #000;
}

a.about:link, a.about:visited {
	background: url(../img/home/about.jpg) no-repeat;
}

a.faq:link, a.faq:visited {
	background: url(../img/home/faq.jpg) no-repeat;
}

a.contact:link, a.contact:visited {
	background: url(../img/home/contact.jpg) no-repeat;
}

a.gallery:link, a.gallery:visited {
	background: url(../img/home/gallery.jpg) no-repeat;
}

a.testimonials:link, a.testimonials:visited {
	background: url(../img/home/testimonials.jpg) no-repeat;
}

a.herts:link, a.herts:visited {
	background: url(../img/home/herts.jpg) no-repeat;
}




