* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #ECECEC;
	font-size: 62.5%;
	font-family: Helvetica;
}

#logo {
	margin-bottom: 25px;
	zoom: 1;
}

#content {
	background: #0A0B10 url(../img/bg.gif);
	padding: 25px 25px 25px 25px;
	zoom: 1;
}

h1 {
	position: absolute;
	left: -99999em;
}


h2 {
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	color: #e1ded2;
	margin-bottom: 2px;
}

p {
	color: #e1ded2;
	font-size: 1.1em;
	margin-bottom: 10px;
}

#about {
	width: 40%;
	margin-bottom: 25px;
}

#primaryNavigation {
	padding: 25px;
	zoom: 1;
}

#primaryNavigation ul {
	list-style: none;
}

#primaryNavigation ul li {
	font-size: 2.7em;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#primaryNavigation ul li a {
	color: #74747e;
	text-decoration: none;
}

#primaryNavigation ul li a:hover {
	color: #0A0B10;
}

#work {
	zoom: 1;
}

#work div.inner {
	padding-bottom: 25px;
	zoom: 1;
}

#work .showreel .clip {
	position:relative;
	zoom: 1;
}

#work div.showreel div.clip ul.pages {
	list-style: none;
	width: 700px;
	overflow: hidden;
	position:relative;
}

#work div.showreel div.clip ul.pages li.page {
	width: 700px;
	height: 200px;
}