/********************************************************************************
* Layout
********************************************************************************/

#sections {
	overflow: hidden;
}

/********************************************************************************
* Claim form
********************************************************************************/

#claimForm {
	padding: 0px 16px;
	margin-bottoM: 16px;
}