/********************************************************************************
* Layout
********************************************************************************/

#sections {
	overflow: hidden;
}

/********************************************************************************
* Claim form
********************************************************************************/

#claimForm {
	padding: 8px 16px;
	margin-bottom: 16px;
}

#claimForm div.indicator {
	width: 200px;
}

#claimForm div.singleInput {
	width: 400px;
}

#claimForm div.singleInput textarea,
#claimForm div.singleInput input.text {
	width: 350px;
}

#also {
	padding-top: 16px;
}

#also h2 {
	background-color: #BD0209;
	color: #fff;
	padding: 8px 10px;
	margin: 0px;
	font-size: 1.6em;
}

#also ul {
	border-top: 1px solid #eee;
}

#also li {
	border-bottom: 1px solid #eee;
	margin: 0px;
	padding: 0px;
	background: none;
}

#also li a {
	color: #BD0209;
	text-decoration: none;
	padding: 8px 8px 8px 28px;
	display: block;
	font-weight: bold;
	background:transparent url(../img/arrow.gif) no-repeat 10px 50%;
}

#also li a:hover {
	background-color: #eee;
}