/********************************************************************************
* Layout
********************************************************************************/

#sections {
	overflow: hidden;
}

/********************************************************************************
* Call me back
********************************************************************************/

#callMeBack {
	border:1px solid #aaa;
	margin:0 0 20px 0;
	padding-top: 20px;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 12px;
}

#callMeBack h2 {
	font-size: 2em;
}

#callMeBack div.indicator {
	float: none;
	margin-bottom: 8px;
}

#callMeBack div.singleInput {
	float: none;
	width: 198px;
}

#callMeBack div.singleInput input.text {
	width: 198px;
}


#homeInfo {
	padding: 0px 8px;
}



#splash {
	margin: 0 8px 20px 0px;
	border: 1px solid #aaa;
	padding: 20px;
	background: url(../img/women.jpg) top right no-repeat;
}

#splash h2 {
	font-size: 2.3em;
}

#splash ul li {
	font-size: 1.7em;
	font-weight: bold;
	margin-bottom: 5px;
	list-style: none;
	background: url(../img/tick.jpg) no-repeat 0px 0px;
	padding-top: 6px;
	padding-left: 35px;
	margin-left: 0px;
	padding-bottom: 5px;
	color: #ED0503;
}

#splash p {
	margin-bottom: 0px;
}