* { 	margin: 0px; padding: 0px; }

body {
	font-size: 62.5%;
	font-family: Rockwell, Helvetica, Arial, Times New Roman;
	background: url(../img/bg/body.jpg);
}

#logo {
	position: relative;
	height: 100px;
	width: 600px;
	margin: 0px auto;
}

#logo a {
	position: absolute;
	bottom: -10px;
	right: 0;
	z-index: 3;
	display: block;
	border: 1px solid #333;
}

#primaryNavigation {
	background-color: #000;
}

#primaryNavigationInner {
	width: 600px;
	margin: 0 auto;
}

#content {
	width: 600px;
	margin: 0 auto;
	background-color: #000;
	color: #fff;
	border-top: 1px solid #171717;
	border-bottom: 1px solid #171717;
}

#footer {
	background-color: #000;
}