/********************************************************************************
* Splash
********************************************************************************/

#splash {
	margin-bottom: 16px;
	border: 1px solid #aaa;
	padding: 20px;
	background: url(../img/women.jpg) top right no-repeat;
}

#splash h2 {
	font-size: 2.3em;
}

#splash ul li {
	font-size: 1.7em;
	font-weight: bold;
	margin-bottom: 5px;
	list-style: none;
	background: url(../img/tick.jpg) no-repeat 0px 0px;
	padding-top: 6px;
	padding-left: 35px;
	margin-left: 0px;
	padding-bottom: 5px;
	color: #BD0209;
}

#splash p {
	margin-bottom: 0px;
}

#splash .submit {
	background-color:#BD0209;
	border:3px solid #DDDDDD;
	color:#FFFFFF;
	cursor:pointer;
	font-size:1.1em;
	font-weight:bold;
	padding:8px;
	text-transform:uppercase;
	text-decoration: none;
}

/********************************************************************************
* Call me back
********************************************************************************/

#callMeBack {
	border:1px solid #aaa;
	margin-bottom: 16px;
	background-color: #fff;
}

#callMeBack h2 {
	background-color: #ddd;
	color: #13007D;
	padding: 8px;
	margin: 0px 0px 8px;
	font-size: 1.6em;
}

#callMeBack p {
	margin: 0px 8px 8px;
}

#callMeBack div.field {
	margin: 0px 8px 8px 8px;
}

#callMeBack div.indicator {
	float: none;
	margin-bottom: 3px;
}

#callMeBack div.singleInput {
	float: none;
	width: 222px;
}

#callMeBack div.singleInput input.text {
	width: 214px;
}

#callMeBack div.actions {
	padding: 8px;
}

#callMeBack #errorMessage,
#callMeBack #successMessage {
	margin-left: 10px;
}

#callMeBack #successMessage p {
	margin-left: 0px;
}

#homeInfo {
	padding: 0px 8px;
}

#homeInfo h1 span {
	position: absolute;
	left: -99999em;
}

