
body {
	margin: 0;
	padding: 0;
	background: url(../img/bg_body.gif);
	border-top: 7px solid #48083c;
	font-family: georgia, arial, helvetica;
}

p {
	line-height: 1.5em;
}

p.email,
p.tel,
p.mob {
	font-size: 1.3em;
	text-transform: uppercase;
	margin: 16px 32px;
	color: #48083c;
}

div#content {
	background-color: #48083c;
	padding: 16px 32px;
	color: #fff;
}