/*	endsleigh.css
 *	last edited 15/10/09
 *	V1
*/


/*
 * 
 * endsleigh blue (unasigned font color) = #102245
 * endsleigh gold = #ebc21d
 * 
 * link text = #243a76 Arial Regular 12px
 * visited link text = #92782e Arial Regular Underlined 12px
 * hover link text = #92782e Arial Regular Underlined 12px
 * 
 * Banner Sizes 
 * Banner Large = 721px x 225px
 * Banner Small = 353px x 255px
 */

/* Start: reset styles */

	/* TEMP TEMP TEMP*/
	/* temporarily moving h1 off screen, as it has not been defined in the visual design*/


.template01 h1,
.template02 h1,
.template03 h1,
.template05 h1,
.template06 h1,
.template08 h1,
#idcustom404 h1,
#iderror h1{
	position:absolute;
	left:-999em
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, th, td {
	margin: 0;
	padding: 0;
}

form {

}

#content .gentable table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset, img {
	border: 0;
}

address, caption, cite, code, dfn, th, var {
	font-style: normal;
	font-weight: normal;
}

ul {
	list-style: none;
}

ol {
	list-style-position: inside;
}

#content .gentable caption, #content .gentable th {
	text-align: left;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 1em;
	font-weight: normal;
}

/* End: reset styles */

body	{
	background-color: #e7e7e7;
	font-size:62.5%;
	font-family: arial, sans-serif;
	color:#102245;
}

/* begin skiplinks */
#skiplinks { 
	position:absolute;
}
#skiplinks ul li { 
	font-size: 1.2em;
	list-style: none;
}
#skiplinks ul li a { 
	position:absolute;
	left:-10000em;
	z-index:48;
	white-space:nowrap;
	color:#5b5344;
	line-height:1.4em;
	padding: 0 3px 0 3px;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
}
#skiplinks ul li a:focus,
#skiplinks ul li a:active {
	left:0em;
	top: 0em;
	background-color:#ffc!important;
}
/* end skiplinks */	

/* generic link styles */	
a {	color: #243a76;
	cursor:pointer;

}
a:link { color:#243a76;
		text-decoration: none;
}

a:visited {
	color:#92782e;
	text-decoration: none;
}

a:hover {
	color:#92782e;
	text-decoration: underline;
}


/* added general focus state for Accessibility : Roz 08/01/2007 */
a:focus, a:active, input:focus {
	background-color: #e3e3e3 !important; 
	outline: 1px dotted #5B5344!important;
	-moz-outline:1px dotted #5B5344;
	text-decoration: none;
}

/* above not for buttons */
 a.button:focus, a.button:active {
	background-color: transparent !important; 
}


/* generic page components */	
.container {
	width:976px;
	margin:0 auto;
	background:#fff;
	padding-bottom:10px;
}

a.button {
	width:120px;
	height:24px;
	display:block;
	position:relative;
	background-color:transparent;
	}	

div.header {
	padding-top:13px;
	clear:both;
	min-height:73px;
	height:auto !important;
    height:73px;
	width:100%;
	position:relative;
}
div.header .logo {
	margin-left: 18px;
	_margin-left: 12px;
	float:left;
}
div.header .secondarylogo {
	margin-left: 10px;
	float:left;
}	
div.header .marketingmessage {
	margin-left: 10px;
	float:left;
	font-size:1.2em;
	font-weight:bold;
}	
.headernav {
	position:absolute;
	top:20px;
	right:22px;
	}
.headernav li {
	display:inline;
	font-size:1.1em;
	padding-left:3px;
}
.headernav li.first {
	border-right:1px solid #102245;
	padding-right:4px;
}
.personalisation {
	float:left;
	font-size:1.2em;
	padding:10px  0 10px 15px;
}
.personalisation p {
	padding:0;
	margin:0;
	}
.personalisation strong {
	font-weight:bold;
}
.personalisation a {
	text-decoration:underline;
}
#searchform {
	
	position:absolute;
	top:46px;
	right:14px;
	_width:225px;
}
#searchform form, #searchform fieldset {
	margin: 0;
  	padding: 0;
	border: 0;
}
#searchform .field label {
	position:absolute;
	left:-9999em;
}
#searchform .field {
	position:relative;
	}

#searchform input.searchfield {
	margin: 0;
  	padding: 5px;
	border: 0;
	width:149px;
	height:13px;
	float:left;
	border:1px solid #e5e5e5;
	border-right:none;
}
#searchform input.searchsubmit {
	background: transparent url(/Style%20Library/SiteImages/btn_search.gif) no-repeat;
	border:none;
	color:#102245;
	font-weight:bold;
	font-size:1.2em;
	display:block;
	width:62px;
	padding:3px 0 5px 0;
	float:left;
	*height:25px;
}
#searchform input.searchsubmit:hover {
	color:#fff;
	}
.errormessage {
	display:none;/* temp */
}
.personalisation {
	clear:both;
}
/* main navigation */
.menuwrapper {
	z-index:8;
	clear:both;
	}
#menu {
	height:41px;
	margin:0 11px 0 12px;
	background:url(/Style%20Library/SiteImages/bkg_topnavrhs.gif) no-repeat top right;
	z-index:9;
}
#menu ul.navigation {
	background: url(/Style%20Library/SiteImages/bkg_topnavlhs.gif) no-repeat;
	padding-left:6px;
	display:block;
	height:37px;
	position:relative;	
	z-index:10;
	width:710px;
}
#menu li  {
	float:left;
	position:relative;
	z-index:11;
	}
#menu li a  {
 	display:block;
	font-size:1.2em;
	padding:12px 21px;
	text-align:center;
	border-right:2px solid #fff;
	background: url(/Style%20Library/SiteImages/bkg_topnav.gif) repeat-x;
	color:#102245;
	font-weight:bold;
	z-index:12;
}

/* set category dimensions */
#menu li.category1 a {
    padding:12px 16px;
    }

#menu li.category4 a {
    padding:12px 16px;
    }

   
#menu li.category5 a{
	padding:12px 19px;
}

#menu li.category6 a {
	padding:4px 19px;
}

#menu li.category8 a
 {
	padding:4px 18px;
}

#menu li a.hover {
	background: url(/Style%20Library/SiteImages/bkg_topnavbgov.gif) top left repeat-x;
	color:#fff;
	text-decoration:none;
}
.off {
	left:-999999em !important;
	position:absolute !important;
	top:0 !important;
}
#menu .subMenu {
	position:absolute;
	height:269px;
	background:#fff;
	z-index: 10;
	display:block;
	border:2px solid #ccc;
}
#menu li.category1 .subMenu,
#menu li.category2 .subMenu,
#menu li.category3 .subMenu  {
	width:631px;
	}
#menu li.category4 .subMenu,
#menu li.category5 .subMenu,
#menu li.category6 .subMenu,
#menu li.category7 .subMenu,
#menu li.category8 .subMenu {
	width:307px;
	}	
#menu .subMenu li {
	float:none;
	}
#menu .subMenu li a {
	background: transparent none repeat 0 0!important;
	text-align:left;
	border:none;
	font-weight:normal;
	font-size:1.2em;
	padding:5px 7px;
	display:block;
	}
#menu .subMenu li a:hover {
	color:#102245;
	}
#menu .subMenu li a:focus, #menu .subMenu li a:active {
	background-color: #e3e3e3 !important; 
	outline: 1px dotted #5B5344!important;
	-moz-outline:1px dotted #5B5344;
	text-decoration: underline;
}	
#menu .subMenu .subMenuCol1 {
	width:156px;
	float:left;
	background: url(/Style%20Library/SiteImages/navlinkbg.gif) 154px 30px no-repeat;
	height:231px;
}
#menu .subMenu .subMenuCol2 {
	width:151px;
	float:left;
	background: url(/Style%20Library/SiteImages/navlinkbg.gif) 149px 30px no-repeat;
	height:231px;
}
#menu .subMenu .subMenuCol3 {
	width:185px;
	float:left;
	background: url(/Style%20Library/SiteImages/navlinkbg.gif) 181px 30px no-repeat;
	height:231px;
}
#menu .subMenu .subMenuCol4 {
	width:139px;
	float:left;
	background: url(/Style%20Library/SiteImages/navlinkbg.gif) 137px 30px no-repeat;
	height:231px;
}

#menu .subMenu .subMenuCol5 {
	width:185px;
	float:left;
	background: url(/Style%20Library/SiteImages/navlinkbg.gif) 181px 30px no-repeat;
	height:231px;
}
#menu .subMenu .subMenuCol6 {
	width:139px;
	float:left;
	background: url(/Style%20Library/SiteImages/navlinkbg.gif) 137px 30px no-repeat;
	height:231px;
}

#menu .subMenu .last {
	background:none;
}

#menu .subMenu .last h2 a  {
	border-right:2px solid #dcdcdc !important;
}

#menu .subMenu h2 a {
	background:#dcdcdc;
	color:#6a6a6a;
	font-size:1.2em;
	padding:4px 5px 4px 7px;
	font-weight:bold;
	margin:0;
}


h2.bolded {
	font-weight:bold;
	color:#102245!important;
}
.defaultdna {
	background: url(/Style%20Library/SiteImages/bkg_dna.gif) no-repeat;
	float:right;
	width:193px;
	height:255px;
	position:relative;
	padding-right:11px;
	}
	
.defaultdna div {
    padding-left:20px;
    }
   	
.defaultdna h2 {
	margin:0 0 0 17px;
	font-size:1.7em;
    font-weight:bold;
	}
.defaultdna h3 {
	margin:0 0 4px 17px;
	font-size:1.2em;
	font-weight:bold;
}
.defaultdna ul {
	margin:0 0 0 17px;
	}
.defaultdna ul li {
	font-size:1.1em;
	font-weight:bold;
	margin-bottom:2px;
	padding-left:10px;
	background: url(/Style%20Library/SiteImages/dna-bullet.gif) no-repeat 0 50%;
	zoom:1;
}
.defaultdna ul li.messages {
	width:120px;
	background:url(/Style%20Library/SiteImages/message-icon.gif) no-repeat right 50% ;
	padding-bottom:3px;
}
.defaultdna ul li.policies {
	width:120px;
	background:url(/Style%20Library/SiteImages/policies-icon.gif) no-repeat right 50% ;
	padding-bottom:3px;
}
.defaultdna ul li.quotes {
	width:120px;
	background:url(/Style%20Library/SiteImages/quotes-icon.gif) no-repeat right 50% ;
	padding-bottom:3px;
}

.defaultdna input,
.defaultdna a.button{
	margin:10px 0 5px 17px;
	z-index:1;
	}
.defaultdna a.login  {
	z-index:5;
	position:relative;
	margin:10px 0 5px 17px;
	display:block;
	width:118px;
	height:22px;
	}
.defaultdna h2.contact {
	margin: 10px 0 0 17px;
	}
.defaultdna a.link {
	background:url(/Style%20Library/SiteImages/link-bullet.gif) right 50% no-repeat;
	padding-right:10px;
	font-size:1em;
	margin:0px 0 5px 17px;
	font-weight:bold;
}
.defaultdna p {
	margin:10px 5px 5px 17px;
	font-weight:bold;
	}

.contactdetails .contactus,
.contactdetails .emailus,
.contactdetails .callus,
.contactdetails .telephone {
	display:block;
	font-weight:bold;
	color:#102245;
	}
					
.contactdetails .contactus,
.contactdetails .emailus,
.contactdetails .telephone {
	font-size:1.4em;
	line-height:1.8em;
	color:#102245;
	}
					
.contactdetails a.link {
	margin-left:0;
	text-decoration:underline;
	color:#102245;
    }

/***********************************************************************
* Footer
***********************************************************************/
div#footer {
	clear:both;
		background: #f2f1f1;
		width:953px;
		margin-left:12px;
	}
.subfooterlinkcol1,
.subfooterlinkcol2 {
	float:left;
	width:319px;
	background:url(/Style%20Library/SiteImages/navlinkbg.gif) no-repeat top right;
	height:70px;
}

.subfooterlinkcol3 {
	float:left;
	height:65px;
}
div#footer h3 {
	padding:0;
	margin:8px 10px 2px 10px;
	color:#6d6b6b;
	font-weight:bold;
	font-size:1.2em;
}
.subfooterlinkcol1 ul,
.subfooterlinkcol2 ul,
.subfooterlinkcol3 ul {
	float:left;
	margin:0 10px;
}
.subfooterlinkcol1 ul li a,
.subfooterlinkcol2 ul li a,
.subfooterlinkcol3 ul li a {
	color:#6d6b6b;
	font-size:1em;
}
.footernav {
	background:url(/Style%20Library/SiteImages/bkg_footernav.gif) repeat-x 0 0;
	overflow:auto;
	clear:both;
	
	}
.footernav ul {
	width:100%;
	}
.footernav ul li {
	float:left;
	}
.footernav ul li a {
	font-weight:bold;
	color:#fff;
	display:block;
	float:left;
	padding:5px 0px 5px 15px;
	font-size:1.1em;
    background: transparent url(/Style%20Library/SiteImages/footer-dot.gif) 5px 50% no-repeat; 
	}

.footernav ul li a:link,
.footernav ul li a:visited,
.footernav ul li a:focus,
.footernav ul li a:hover,
.footernav ul li a:active {
	background: transparent url(/Style%20Library/SiteImages/footer-dot.gif) 5px 50% no-repeat !important; 
	color:#fff;
    }


.footernav ul li a.first {
	background:none;
}
.footernav ul li.share,
.footernav ul li.share a {
	float:right;
	background:none;
	margin-right:5px;
}

.footernav ul li.share a img {
	width:83px;
	height:16px
}
.compliance {
	padding:10px 0;
	
	}
.compliance p {
	text-align:center;
	}

/* promotional slot */

div.promogrid3col {
	clear:both;
	margin:0 0 0px 12px;
	}
div.promogrid4col {
	clear:both;
	margin:0 0 2px 12px;
	position:relative;
	height:100%;
	overflow:hidden;
}

	
.promogrid3col .minislots,
.promogrid3col .slot {
	position:relative;
	width:315px;
	height:257px;
	float:left;
	margin:0;
}
.promogrid4col .slot1 {
	position:relative;
	width:245px;
	height:179px;
	float:left;
	margin:0;
}

.promogrid4col .slot1 {
	height:144px;
	margin-top:35px;
}

.template04 .promogrid4col .slot1 {
      margin-top:0px;
}

.promogrid4col .slot2 {
	position:relative;
	width:236px;
	height:179px;
	float:left;
	margin:0;
}
.promogrid4col .slot3,
.promogrid4col .slot4 {
	position:relative;
	width:229px;
	height:179px;
	float:left;
	margin:0;
}
.promogrid3col .maxislot {
	position:relative;
	width:634px;
	height:257px;
	float:left;
	margin:0;
}
.promogrid3col .minislots .slot {
	height:127px;
	float:none;
}
.promogrid3col .slot1,
.promogrid4col .slot1 {
	margin-right:4px;
	}
.promogrid4col .slot2,
.promogrid4col .slot3 {
	margin-right:5px;
	}
.promogrid4col .slot1,
.promogrid3col .slot2 {
	margin-bottom:3px;
	}
.promogrid3col .slot4 {
	margin-left:4px;
	}
.promogrid3col .slot h2,
.promogrid4col .slot h2 {
	margin:0;
	padding:0;
	font-size:1.6em;
}
.promogrid3col .slot .slotcontent,
.promogrid3col .maxislot .slotcontent {
	position:absolute;
	top:18px;
	left:15px;
	width:292px;
}
.promogrid4col .slot .slotcontent {
	position:absolute;
	top:11px;
	left:8px;
	width:220px;
}
.promogrid3col .minislots .slotcontent {
	position:absolute;
	top:18px;
	left:15px;
}

.promogrid4col .slot p {
	font-size:1em;
	font-weight:normal;
	padding:0;
	margin:10px 10px 10px 0;
}
.promogrid3col .slot a,
.promogrid3col .maxislot a {
	padding:0;
	outline-style:none;
}
.promogrid3col .slotcontent a.link {
	font-weight:bold;
	color:#112145;
	padding-right:10px;
	background:url(/Style%20Library/SiteImages/link-bullet2.gif) right 50% no-repeat;
	display:inline;
	font-size:0.9em;
}
.promogrid4col .slotcontent a.link,
.promogrid4col .testimonialslot a.link,
.promogrid4col .news a.link {
	font-weight:bold;
	color:#112145;
	padding-right:10px;
	background:url(/Style%20Library/SiteImages/link-bullet2.gif) right 50% no-repeat;
	display:inline;
	font-size:1.1em;
}

.slotcontent a:visited {
        color:#ebc21d;
    }

.promogrid3col .slot1 h2, 
.promogrid3col .slot4 h2, 
.promogrid3col .slot5 h2 {
	font-size:2.4em;
	width:291px;
}
.promogrid3col .slot2 h2, 
.promogrid3col .slot3 h2 {
	font-size:2em;
	width:292px;
}

.template03 .promogrid3col .slot2 h2 {
    font-size:2.4em;
    }

.promogrid3col .minislots p {
	margin:10px 10px 10px 0;
}

.claimbuttonwrapper {
	width:245px;
	height:30px;
	position:absolute;
	top:0;
	left:0;
}

a.claimbutton {
	display:block;
	position:absolute;
	top:0;
	left:0;
	}

.promogrid4col .slot1 .news,
.promogrid4col .testimonialslot .news
 {
	width:245px;
	height:144px;
	position:absolute;
	top:0;
	left:0;
}

#uspinner ol,
#uspinner ul,
.slotcontent ul {
	margin:10px 0;
	}

#uspinner ol li,	
#uspinner ul li,
.slotcontent ul li,
.slotcontent ol li {
	font-weight:bold;
	background:url(/Style%20Library/SiteImages/slot-bullet.gif) no-repeat 0 10px;
	padding:5px 10px 5px 10px;
	color:#404040;
}

#uspinner ol li,	
.slotcontent ol li {
    background-image:none;
    padding-left:0;
    }
    
/* Wide Propositon Text */
.template01 .propositions {
	float:left;
	width:761px;
	margin:0px 0 4px 11px;
	_margin-left:6px;
	padding:0;
	z-index:1;
	}
.template03 .propositions {
	float:left;
	width:761px;
	margin:0px 0 4px 11px;
	_margin-left:6px;
	padding:0;
	z-index:1;
	position:relative;
	overflow:hidden;
	height:255px;
	}
.template01 .propositions h2 {
	padding-top:0;
	margin-top:0;
	}
.template01 .propositions li img {
	position:relative;
	height:257px;
	width:761px;
	margin:0;
	padding:0;
	z-index:2;
}
.template01 .proposition1 span,
.template01 .proposition2 span,
.template01 .proposition3 span {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:763px;	
	height:257px;
	z-index:0;
	}
	
/***********************************************************************
* Carousel 06
***********************************************************************/
#navigationcarousel {
 	overflow: hidden;
	padding: 0;
	margin-bottom:3px;
	width:976px;
	height:67px;
	position:relative;
	border:0;
	clear:both;
}

#navigationcarousel div.clip {
	margin: 0 10px;
}
#navigationcarousel div.clip ul {
	list-style: none;	
	height:67px;
}
#navigationcarousel div.clip ul li {
	margin: 0 0 0 0px;
	position:relative;
	width:159px;
}
#navigationcarousel div.clip ul li a span {
	background:url(/Style%20Library/SiteImages/carousel-over.gif) repeat-x;
	width:154px;
	height:6px;
	position:absolute;
	left:2px;
	top:61px;
	display:none;
}
#navigationcarousel div.clip ul li a:hover span,
#navigationcarousel div.clip ul li a:focus span {
	display:block;
	width:154px;
	}
#navigationcarousel a.back {
	background:transparent url(/Style%20Library/SiteImages/carousel_control_left.gif) no-repeat 0 0;
	height:67px;
	width:11px;
	position:absolute;
	top:0;
	left:0px;
}
#navigationcarousel a.back span {
	position: absolute;
	top: 0;
	left: -999999em;
}
#navigationcarousel a.back:hover,
#navigationcarousel a.forward:hover {
	background-position:0 -67px;	
}

#navigationcarousel a.forward {
	background:transparent url(/Style%20Library/SiteImages/carousel_control_right.gif) no-repeat 0 0;
	height:67px;
	width:11px;
	position:absolute;
	top:0;
	right:0;
}
#navigationcarousel a.forward span {
	position: absolute;
	top: 0;
	left: -999999em;
}
/* Personal Homepage Propositon Text */

.template02 .propositions  {
	float:left;
	width:353px;
	margin:0px 0 4px 0px;
	padding:0;
	z-index:1;
	}
.template05 .propositions,
.template06 .propositions {
	float:left;
	width:353px;
	margin:0px 0 4px 0px;
	padding:0;
	z-index:1;
	position:relative;
	overflow:hidden;
	height:255px;
	}
.template02 .propositions h2,
.template05 .propositions h2,
.template06 .propositions h2 {
	padding-top:0;
	margin-top:0;
	}
.template02 .propositions li img,
.template05 .propositions img,
.template06 .propositions img {
	position:relative;
	height:257px;
	width:354px;
	margin:0;
	padding:0;
	z-index:2;
}
.template02 .proposition1 span,
.template02 .proposition2 span,
.template02 .proposition3 span,
.template05 .propositions span,
.template06 .propositions span  {
	position:absolute;
	top:0;
	left:0;
	display:block;
	width:353px;	
	height:257px;
	z-index:0;
	}
/***********************************************************************
* Carousel for rotating Banner Large
***********************************************************************/
#bannercarousel {
 	overflow: hidden;
	padding: 0;
	margin-bottom:5px;
	width:761px;
	height:255px;
	position:relative;
	border:0;
}
#bannercarousel div.clip {
	margin: 0px;
}
#bannercarousel div.clip ul {
	list-style: none;	
}

#bannercarousel div.clip ul li {
	display:inline;
	margin: 0 ;
}


#bannercarousel a.start {
	position:absolute;
	top:10px;
	right:10px;
	display:block;
	width:52px;
	height:18px;
	background:url(/Style%20Library/SiteImages/play.gif) no-repeat 0 0;
	z-index:10;
	}
#bannercarousel a.stop {
	position:absolute;
	top:10px;
	right:10px;
	display:block;
	width:52px;
	height:18px;
	background:url(/Style%20Library/SiteImages/pause.gif)  no-repeat 0 0;
	z-index:10;
	}
#bannercarousel a.start span,
#bannercarousel a.stop span,
#bannercarousel a.startDisabled,
#bannercarousel a.stopDisabled {
	width:52px;
	height:18px;
	position:absolute;
	left:-999em;
	}
#bannercarousel a:hover {
	background-position: 0 -18px;
	}
/***********************************************************************
* Carousel for rotating Banner small
***********************************************************************/
.template02 #bannercarousel {
 	overflow: hidden;
	padding: 0;
	margin-bottom:5px;
	width:353px;
	height:255px;
	position:relative;
	border:0;
}
.template02 #bannercarousel div.clip {
	margin: 0px;
}
.template02 #bannercarousel div.clip ul {
	list-style: none;	
}

.template02 #bannercarousel div.clip ul li {
	display:inline;
	margin: 0 ;
}
.template02 #bannercarousel a.start {
	position:absolute;
	top:10px;
	right:10px;
	display:block;
	width:52px;
	height:18px;
	background:url(/Style%20Library/SiteImages/play.gif) no-repeat 0 0;
	z-index:10;
	}
.template02 #bannercarousel a.stop {
	position:absolute;
	top:10px;
	right:10px;
	display:block;
	width:52px;
	height:18px;
	background:url(/Style%20Library/SiteImages/pause.gif)  no-repeat 0 0;
	z-index:10;
	}
.template02 #bannercarousel a.start span,
.template02 #bannercarousel a.stop span,
.template02 #bannercarousel a.startDisabled,
.template02 #bannercarousel a.stopDisabled {
	width:52px;
	height:18px;
	position:absolute;
	left:-999em;
	}
.template02 #bannercarousel  a:hover {
	background-position: 0 -18px;
	}
	
/***********************************************************************
* Layered Banner
***********************************************************************/

.template03 .propositions {
    	position:relative;
    }
	
.template03 .propositions h2 {
    font-size:5em;
    }	

.template03 .propositions p {
	font-size:2em;
	color:#fff;
    }	

.template03 .propositions .slotcontent {
	padding:0 20px;
	list-style-type:none;
	position:absolute;
	top:10px;
	left:0;
	width:720px;
	height:140px;
	}	
	
.template03 .propositions .slotcontent li {
	padding:0 40px 0 0;
	list-style-type:none;
	float:left;
	background-image:none;
	}	

.template03 .propositions .slotcontent li.button1 {
	padding-left:0;
}

	
/***********************************************************************
* Testimonials
***********************************************************************/
.testimonials {
	clear:both;
	margin:0px 0 0 12px;
	height:70px;
	position:relative;
}
.testimonials h2 {
	font-size:2.7em;
	color:#8e8e8e;
	float:left;
	margin:0px 0px 0 14px;
	padding:0;
	padding-top:23px;
}
.testimonials ul {
	position:absolute;
	left:245px;
	top:0px;
	margin:0 2px 0 0;
	padding:0;
	padding-top:20px;
	overflow:hidden;
	display:inline;
	}
.testimonials ul li {
	
	float:left;
	margin-right:9px;
	text-align:center;
	}
.testimonials ul li a {
	font-size:1.2em;
	color:#102245;
	background:url(/Style%20Library/SiteImages/testimonial-bg.gif) repeat-x;
	padding:10px 0 8px 0;
	margin:0;
	display:block;
	width:230px;
	font-weight:bold;
	
}
.testimonials ul li a span,
.testimonials ul li a span canvas {
	padding:0;
	margin:0;
	}
	
.yourendsleigh,
.yourclaims {
	width:408px;
	_width:406px;
	height:255px;
	background:url(/Style%20Library/SiteImages/your-ends-bg.gif) no-repeat bottom right;
	float:left;
	margin:0 0 4px 11px;
	_margin-left:6px;
}

.yourendsleigh {background:url(/Style%20Library/SiteImages/your-ends-bg.gif) no-repeat bottom right;}
.yourclaims {background:url(/Style%20Library/SiteImages/your-claims-bg.gif) no-repeat bottom right;}

.yourendsleigh h2,
.yourclaims h2 {
	font-size:2em;
	margin:0;
	padding:5px;
   /*background:url(/Style%20Library/SiteImages/your-ends-top-bg.gif) no-repeat top left; [BH] This isn't required here, as far as I can tell */
}

.yourendsleigh h3,
.yourclaims .stepbystep h2 {
	font-size:1.45em;
	font-weight:bold;
	margin:10px 0 10px 0;
}

.yourendsleigh .policies,
.yourclaims .policies {
	width:180px;
	height:auto;
	float:left;
	margin: 0 0 0 10px;
	_margin-left:5px;
	position:relative;
}

.yourendsleigh .policies ul, 
.yourclaims .policies ul {
		height:auto;
		overflow:hidden;
		width:174px;
		margin-right:5px;
		margin-bottom:0;
		border-right:1px solid #8d8d8d;
    }

.yourendsleigh .lapsedpolicies,
.yourclaims .lapsedpolicies {
	padding:5px 0;
	}

.yourendsleigh .policieslistwrapper {
	overflow:hidden;
	height:130px;
	}

.yourendsleigh .quotes{
	width:188px;
	float:left;
	height:212px;
	margin: 0 0 0 10px;
}

/* Adaptation of the Step-by-step guide to slot content markup: */


.yourclaims .stepbystep .defaultsteps {
	margin-left:0;
	width:212px;
	height:221px;
	float:left;
}

.yourclaims .stepbystep .defaultsteps img {
	position:absolute;
}

.yourclaims .stepbystep .slotcontent {
	position:absolute;
	width:190px;
	padding:0 10px;
}

.yourclaims .stepbystep .slotcontent h2,
.yourclaims h3{
	padding:0;
	font-size:1.6em;
	font-weight:bold;
	margin:10px 0;
}

.yourclaims .stepbystep .slotcontent .richtextwrapper{
	margin-top:0;
}

.yourclaims .stepbystep .slotcontent .richtextwrapper p{
	font-size:0.92em; /* Nominally 11px */
}

.yourclaims .slotcontent .richtextwrapper ul{
	list-style:disc outside;
	margin:0 0 0 15px;
	margin-bottom:0;
}

.yourclaims .slotcontent .richtextwrapper li{
	display:list-item;
	line-height:1.1em;
	margin-bottom:0.5em;
	padding-left:0;
	color:#102245;
}

.yourclaims .slotcontent .richtextwrapper ul li span {
	float:none;
	font-weight:normal;
}


/* adaptation of layered campaign */
.yourclaims .stepbystep .defaultsteps img {
    /*display:none; No longer required, I don't think!*/
}

.yourendsleigh .policies p,
.yourclaims h2 .policies p {
	font-size:1.1em;
	}
.yourendsleigh .policies p a,
.yourclaims h2 .policies p a{
	font-weight:bold;
	text-decoration:underline;
	}
.yourendsleigh ul,
.yourclaims ul {
	margin-bottom:20px;
}
.yourendsleigh  ul li,
.yourclaims ul li {
	line-height:1.6em;
	display:block;
	clear:both;
	}
.yourendsleigh ul li span,
.yourclaims ul li span{
	font-weight:bold;
	font-size:1.2em;
	float:left;
	}

.yourclaims  ul li a,	
.yourendsleigh  ul li a {
	float:right;
	font-weight:normal;
	font-size:1em;
	text-decoration:underline;
	margin-right:5px;
}

.yourendsleigh .policies .showmore {
	font-size:10px;
	padding:0 5px;
	float:right;
	margin-right:5px;
	border:none;
	background-color:transparent;
	text-decoration:underline;
	font-weight:bold;
}

.yourclaims  ul li span.help {
	display:block;
	float:right;.
	width:20px;
	height:20px;
	background:url(/Style%20Library/SiteImages/info-icon.png) 0 2px no-repeat;
	margin:0 20px 0 5px;
	}
	
.yourendsleigh .quotes a.link {
	font-size:1.1em;
	font-weight:bold;
	color:#112145;
	padding-right:10px;
	background:url(/Style%20Library/SiteImages/link-bullet2.gif) right 50% no-repeat;
	display:inline;
}
.yourclaims ul li div {
	clear:both;
	position:absolute;
	left:-999em;
	
	}
.yourclaims .displaysteps {
	background:url(/Style%20Library/SiteImages/stepbystep-bg.gif) 10px 0 no-repeat;
	position:absolute;
	width:202px;
	height:184px;
	left:180px;
	top:36px;
	padding-left:10px;
	}
.yourclaims .displaysteps h2 {
	font-weight:bold;
	font-size:1.1em;
	margin:0;
}

.defaultsteps .slotcontent h2 a,
.defaultsteps .slotcontent h2 a:visited,
.defaultsteps .slotcontent h2 a:hover {
	color:#243A76;
	text-decoration:none;
	}
	
.displaysteps p ,
.defaultsteps .slotcontent p {
	font-weight:bold;
	font-size:1.1em;
	margin:0;
	padding:0;
	}

.displaysteps ul li,
.defaultsteps .slotcontent  ul li{
	background:url(/Style%20Library/SiteImages/bullet.png) no-repeat 0 50%;
	padding-left:10px;
}

.defaultsteps .slotcontent  ul li{	
	color:#404040;
	font-size:1.1em;
	font-weight:normal;
	padding:0 0 0 10px;
	}

.defaultsteps .slotcontent img {
	display:none;
	}
/***********************************************************************
* Product USPs
***********************************************************************/

.usp,
.toptips {
	width:954px;
	margin:0 0 5px 12px;
	background:url(/Style%20Library/SiteImages/usp-inner-bg.gif) repeat-y;
	clear:both;
	position:relative;
}
.toptips {
	width:954px;
	margin:0 0 5px 12px;
	background:url(/Style%20Library/SiteImages/usp-inner-bg.gif) repeat-y;
	clear:both;
	position:relative;
}


.usp img.bg,
.toptips img.bg,
.commonheading img.bg {
	position:absolute;
	bottom:0;
	right:0;
	}
	
.usp h2,
.template07 .commonheading  {
	background:url(/Style%20Library/SiteImages/bkg_heading.gif) 0 0 repeat-x;
	z-index:3;
	color:#fff;
	padding:10px;
	font-size:2em;
	margin:0;
	zoom:1;
	}
#uspinner {
	background: url(/Style%20Library/SiteImages/uspbottom.jpg) bottom left no-repeat;
	min-height:420px;
	height:auto !important;
	height:420px;
	padding-bottom:10px;
	}
#tipsinner {
	background: url(/Style%20Library/SiteImages/tipsbottom.jpg) bottom left no-repeat;
	min-height:326px;
	height:auto !important;
	height:326px;
	padding-bottom:10px;
	position:relative;
	}
#uspinner .col1,
#uspinner .col2 {
	width:320px;
	float:left;
}
#tipsinner .col1 {
	width:420px;
	margin:20px;
	
}
#uspinner h3,
#tipsinner h2 {
	margin:0;
	background:url(/Style%20Library/SiteImages/usp-inner-top.gif) repeat-x;
	display:block;
	padding:10px 15px;
	font-size:1.2em;
	font-weight:bold;
	}
	
#tipsinner h2 {
	font-size:2.5em;
	padding-left:20px;
	padding-top:20px;
	}

.uspbottom {
	clear:both;
	}
div#uspinner a.accordion1,
div#tipsinner a.accordion1 {
	display:block;
	font-weight:bold;
	padding:5px 30px 0 31px;
	text-decoration:none;
	font-size: 1.1em;
	color: #404040;
	background: transparent url(/Style%20Library/SiteImages/accordion-bullets.png) no-repeat 0 0!important;
    margin:15px 4px 15px 20px;
	height:15px;
}
div#uspinner a span.title,
div#tipsinner a span.title {
	margin:0;
	}
div#uspinner a span.indicator,
div#tipsinner a span.indicator {
	width:7px;
	height:7px;
	background:url(/Style%20Library/SiteImages/accordion-indicators.png) 0 0 no-repeat;
	display:inline-block;
	margin:0 5px;
	_overflow:hidden;
}		
div#uspinner a.selected,
div#tipsinner a.selected {
	background:url(/Style%20Library/SiteImages/accordion-bullets.png) no-repeat 0 -20px!important;
	outline:none;
}

div#uspinner div.accordionPanel,
div#tipsinner div.accordionPanel {
	margin-bottom: 1px;
}
div#uspinner a.selected  span.indicator,
div#tipsinner a.selected  span.indicator		{
	background:url(/Style%20Library/SiteImages/accordion-indicators.png) 0 -7px no-repeat;
	outline:none;
}

div#uspinner div.accordionPanel div.inner,
div#tipsinner div.accordionPanel div.inner {
    clear:left;
	padding:0 20px 0 51px;
	font-size:1.1em;
	
}

.newsfeed {
	clear:both;
	margin: 0 0 5px 12px;
	width: 954px;
	height:77px;
	background:url(/Style%20Library/SiteImages/newsfeed-bg.gif) 0 0 repeat-x;
	}
.newsfeed ul {
	display:block;
	height:77px;
	background:url(/Style%20Library/SiteImages/newsfeed-bg-left.gif) 0 0 no-repeat;
	
}	
.newsfeed ul li {
	display:block;
	float:left;
	width:318px;
	background:url(/Style%20Library/SiteImages/newslinkbg.gif) right 7px no-repeat;
	height:77px;
	}

.template01 .slot3 .newsfeed ul li {
	width: 310px;
	_width: 300px;	
	
}
.newsfeed ul li.last {
	background:url(/Style%20Library/SiteImages/newsfeed-bg-right.gif) top right no-repeat;
	}
.newsfeed ul li h2 
{
    font-size:1.6em;
    font-weight:bold;
	margin:12px 0 0 20px;
	padding:0;
	width:300px;
	}

.newsfeed ul li h2 a {	
    color: #102245;
}

.newsfeed ul li p {
	margin:0 0 0 20px;
	padding:0;
	font-weight:bold;
	font-size:1.1em;
	}
.newsfeed ul li span.date {
	margin:5px 0 0 20px;
	padding:0;
	}

/* Homepage Newsfeed */
.template01 .newsfeed {
    margin:0;
    width:315px;
    height:127px;
	background:url(/Style%20Library/SiteImages/bkg_tp01_elh11a_blank.gif) top left no-repeat;
    }
    
.template01 .newsfeed ul {
	padding:10px;
	background:none;
    }	
	
.template01 .newsfeed ul li {
    background:none;
    }
    
.template01 .newsfeed ul li span.date {
    margin-left:0;
    }
/***********************************************************************
* Media Centre
***********************************************************************/
.featuredarticles {
	width:407px;
	height:255px;
	float:left;
	margin:0 0 4px 12px;
	_margin-left:6px;
	background:#f7f7f7 url(/Style%20Library/SiteImages/news-br-bg.gif) no-repeat bottom right;
}

.template06 .featuredarticles {
    width:400px;
    margin: 0 7px 4px 12px;
    _margin: 0 6px 4px 6px
    }

.featuredarticles h2 {
	font-size:2em;
	margin:10px 0 0 10px;
	padding:2px 0 15px 0;
}
.featuredarticles ul li,
.newsmedia ul li ,
.videomedia ul li  {
	display:block;
	width:400px;
	height:65px;
	margin:0;
	}

.template06 .featuredarticles ul li,
.template06 .newsmedia ul li ,
.template06 .videomedia ul li {
    width:400px;
    }
	
.featuredarticles ul li {
		height:52px;
}

.template06 ul li.odd,
.template07 ul li.odd {
	background:#e7e7e7;
	}

.template06 ul li div.thumb,
.template07 ul li div.thumb {
	clear:left;
	float:left;
	margin:3px;
	}
	
.template06 ul li div.thumb img,
.template07 ul li div.thumb img {
	display:block;
	width:48px;
	height:42px;
	}

.template06 .featuredarticles ul li div.thumb img,
.template07 .featuredarticles ul li div.thumb img {
	display:block;
	width:64px;
	height:46px;
	}

.featuredarticles ul li h3,
.newsmedia ul li h3,
.videomedia ul li h3 {
	float:left;
	margin:3px 0 0 3px;
	display:block;
	width:300px;
	font-size:1.2em;
	font-weight:bold;
	}

.newsmedia ul li h3,
.videomedia ul li h3 {
	width:330px;
}

	
.featuredarticles ul li h3 {
	font-size:1.7em;
	font-weight:bold;
	
}
	
.featuredarticles ul li p,
.newsmedia ul li p,
.videomedia ul li p {
	margin:0px 0px 0 3px;
	display:block;
	float:left;
	width:330px;
	font-size:1em;
	}
	
.template06 .featuredarticles ul li .articlewrapper {
	float:left;
	width:292px;	
	_width:285px;	
	padding:0 5px 0 0;
	
}

.template06 .featuredarticles ul li .articlewrapper h3,
.template06 .featuredarticles ul li .articlewrapper p {
	width:100%;	
}

.template06 .featuredarticles .readmore {
	background:transparent url(/Style%20Library/SiteImages/small-bullet.png) no-repeat right 50%;	
}

.template06 .featuredarticles .readmore a {
	background: none !important;
	display:block;
	width:19px;
	float:right;
	margin-top:18px;
}


.template06 .featuredarticles .readmore a.button span {
	right:11px;
	top:1px;
	
}

.template06 .mediablock .columnone {
	float:left;
	width:400px;
	margin-left:12px;
	_margin-left:7px;
}

.template06 .mediablock .columntwo {
	float:right;
	width:354px;
	margin-right:7px;
	_margin-right:0;
}

.mediablock {
	width:780px;
	_width:775px;
	float:left;
}

.template06 .mediablock {
	width:780px;
    }
    
.mediablock h2 {
	font-size:2em;
	margin:10px 0 0 10px;
	padding:2px 0 15px 0;
}

.template06 .mediablock h2 {
    padding:5px 0;
    }
    
.newsmedia {
	width:400px;
	background:#f7f7f7 url(/Style%20Library/SiteImages/news-tr-bg.gif) no-repeat top right;
	margin:0 0 4px 0;
}

.pressmedia {
	width:354px;
	background:#f7f7f7 url(/Style%20Library/SiteImages/news-tr-bg.gif) no-repeat top right;
	margin:0 0 4px 0;
	_margin-right:6px;
}
.videomedia  {
	width:400px;
	background:#f7f7f7 url(/Style%20Library/SiteImages/news-tr-bg.gif) no-repeat top right;
	margin:0 0 4px 0;
}
.othermedia {
	width:354px;
	background:#f7f7f7 url(/Style%20Library/SiteImages/news-tr-bg.gif) no-repeat top right;
	margin: 0 0 4px 0;
	_margin-right:6px;
}
.pressmedia ul li,
.othermedia ul li {
	display:block;
	width:354px;
	height:65px;
	margin:0;
}
        
.pressmedia ul li h3,
.othermedia ul li h3 {
	float:left;
	margin:3px 0 0 3px;
	display:block;
	width:286px;
	font-size:1.2em;
	font-weight:bold;
	}
.pressmedia ul li p,
.othermedia ul li p {
	margin:0px 0px 0 3px;
	display:block;
	float:left;
	width:286px;
	font-size:1em;
	}
	
.relevantlinks {
	width:188px;
	float:right;
	clear:right;
	margin:5px 0 10px 5px;
	}
	
.relevantlinks h2 {
	margin:3px 0 ;
	font-size:1.7em;
}
.relevantlinks li {
	line-height:1.6em;
	}
.relevantlinks li a {
	color:#112145;
	padding-right:10px;
	background:url(/Style%20Library/SiteImages/small-bullet.png) right 50% no-repeat;
	display:inline;
	font-size:1.2em;
	text-decoration:underline;
}
.promocolumn {
	width:188px;
	float:left;
	_float:right;
	_margin-right:4px;
}
.promocolumn .slot {
	position:relative;
	margin:0 0 3px 0;
}
.promocolumn .slot .slotcontent {
	left:8px;
	position:absolute;
	top:0px;
	}

.template08 .promocolumn .slot .slotcontent,	
.template06 .promocolumn .slot .slotcontent {
	width:182px	
}

.promocolumn .slot .slotcontent h2 {
	font-size:1.5em;
	padding:10px 5px;
	}
	
.newsfeed h2 a,
.slotcontent h2 a {
    color:#112145;
    }

.newsfeed h2 a:hover,
.slotcontent h2 a:hover {
        text-decoration:none;
    }
    
.promocolumn .slot .slotcontent .richtextwrapper {
	font-size:1em;
	padding:0 0 10px 0;
	color:#243A76;
	width:175px;
	}
.promocolumn .slot .slotcontent a.button {
	width:120px;
	height:15px;
	display:block;
	position:relative;
}

.readmore {
		display:block;
		text-align:right;
}

.readmore a.link {
	font-weight:bold;
	color:#243a76;
	padding-right:10px;
	background:url(/Style%20Library/SiteImages/small-bullet.png) right 50% no-repeat;
	display:inline;
	font-size:1em;
	font-weight:bold;
}

.readmore a,
.morelink a {
	font-weight:bold;
	font-size:1.1em;
	background:transparent url(/Style%20Library/SiteImages/small-bullet.png) no-repeat right 50%;
	padding-right:10px;
}

.morelink a {
	margin-right:15px;
}

.morelink {
	border-top:1px solid #ddd;
	width:272px;
}

.pressmedia ul li.morelink a,
.othermedia ul li.morelink a {
	margin-right:10px;
    _margin-right:8px;
}           
            
.newsmedia ul li.morelink a,
.videomedia ul li.morelink a {
	margin-right:12px;
	_margin-right:8px;
}
            


/* Generic page styles (template04)*/
/* (headings, lists, tables, paragraphs) */
.primarycontentwrapper,
.secondarycontentwrapper {
	float:left;
	margin:0;
	padding:11px;
	min-height:350px;
	height:auto !important;
	height:350px;
}

.primarycontentwrapper {
	width:750px;
	_width:747px;
	background:url(/Style%20Library/SiteImages/bkg_primarycontentwrapper.gif) right top no-repeat;
}

.template04 .secondarycontentwrapper,
.template04 .primarycontentwrapper {
        min-height:350px;
	    height:auto !important;
	    height:350px;
    }

.secondarycontentwrapper {
	width:950px;
	font-size:1.2em;
}

.primarycontentwrapper h1 { 
	display:block;
	font-size:2.5em;
	margin:24px 0;
	*padding-left:10px;
}

.primarycontentwrapper h2,
.secondarycontentwrapper h2 {
	font-size:1.7em;
	font-weight:bold;
	
}

.commonheading {
	width:auto;
	margin:0;
	background:none;
	clear:both;
	position:relative;
}

/*
 * table border colors
 * light	#e2e2e2
 * dark		#b4b4b4
 * 
 */

#content .gentable tr.last {
	background-color: #102245;
}

#content .gentable tr.last td {
	color: #fff;
	font-weight:bold;
}
#content .gentable td, th {

	border-top:2px solid #e2e2e2;
	border-right:2px solid #e2e2e2;
	border-bottom:2px solid #e2e2e2;
	border-left:2px solid #e2e2e2;
	padding:2px 20px;
}

#content .gentable th {
	font-weight:bold;
}

#content .gentable caption {
	margin-top:10px;
	background-color: #102245;
	color:#fff;
	padding:10px;
	font-weight:bold
}

/* 
list styles
 */

.pressmedia ul li.morelink,
.featuredarticles ul li.morelink, 
.newsmedia ul li.morelink, 
.videomedia ul li.morelink, 
.othermedia ul li.morelink {
	text-align:right;
	padding-top:10px;
	height:20px;
}


.primarycontentwrapper ol,
.secondarycontentwrapper ol, 
.primarycontentwrapper ul,
.secondarycontentwrapper ul {
	margin-bottom:10px;
}

.primarycontentwrapper ul li,
.secondarycontentwrapper ul li {
		padding-left:20px;
		background:transparent url(/Style%20Library/SiteImages/slot-bullet.gif) no-repeat 10px 50%;
}

.primarycontentwrapper ol li,
.secondarycontentwrapper ol li {
		list-style-position:inside;
		padding-left:10px;
}

.primarycontentwrapper p,
.secondarycontentwrapper p {
		padding:10px 0;
}

.primarycontentwrapper h3,
.secondarycontentwrapper h3 {
		font-weight:bold;
		font-size:1.2em;
		margin-bottom:3px;
}

.downloadmedia a {
	font-weight:bold;
	font-size:1em;
	text-transform: uppercase;
}

.webadd {
	font-weight:bold;
}

.testimonial {
	font-style:italic;
	
}

/* Generic page promotions */

.template04 .promogrid4col .slot {
	width:234px;
}

.template04 .promogrid4col .slotcontent h2 {
	margin-bottom:10px;	
}

.template04 .promogrid4col .slotcontent h3 {
	font-size:1.2em;
	font-weight:bold;
}


.template04 .promogrid4col .slotcontent .richtextwrapper {
	font-size:1.2em;
	margin-top:0;
}

.template04 .promogrid4col .slotcontent a.link {
	font-size:.9em;
	text-align:right;
}

/* Media Article Page (template07) */

.template07 .backto {
	float:right;
	margin:0 10px 10px 0;
	_margin:0 5px 10px 0;
	width:176px;
	height:123px;
	position:relative;
}

.template07 .backto .slotcontent {
	position:absolute;
	left:8px;
	top:0;
    }

.template07 .backto a.button {
	padding:10px;
}

/* to account for the padding defined above */
.template07 .backto a.button span {
	right:14px;
	top:12px;
	}
	
.template07 .mediablock {
	width:100%;
	padding
	:10px 0;
}

.template07 .primarycontentwrapper {
       font-size:1.2em; 
       width:742px;
       padding:10px 15px;
    }

.template07 .newsmedia {
    margin:0 12px 4px 13px;
    _margin:0 12px 4px 7px;
    float:left;
    }

.template07 .pressmedia {
    margin: 0 7px 4px 0;
    float:left;
    }

.articledate {
	font-weight: bold;
	
}

/* Core Modal */

div#overlay {
	background-color:transparent;
	position: fixed;
	display: none;
	left: 0;
	top:0;
	width:100%;
	height: 300%;
	z-index: 5000;
}

div#dialogue {
	position: absolute;
	left: -99999em;
	top: 0;
	z-index: 9999;
}

div#dialogue01,
			div#dialogue02 {
				border: 1px solid #1D2B33;
				background-color: #ffffff;
			}
			
			div#dialogue01 div.header,
			div#dialogue02 div.header {
				overflow: hidden;
				background-color: #989D44;
				padding: 10px;
			}
			
			div#dialogue01 div.header h2,
			div#dialogue02 div.header h2 {
				float: left;
				color:#ffffff;
				font-size: 1.2em;
				font-family: arial;
				margin-bottom: 0px;
			}
			
			a.closeDialogue {
				color: #ffffff;
				float: right;
				font-size: 1.2em;
			}
			
			div#dialogue01 {
				width: 300px;
			}
			
			div#dialogue01 div.panel {
				padding: 10px;
				background-color: #f5f5f5;
			}
			
			div#dialogue01 div.panel a.new {
				color: #1D2B33;
				font-size: 1.2em;
				display: block;
				text-align: center;
			}
			
			div#dialogue02 {
				width: 500px;
			}
			
			div#dialogue02 div.panel {
				padding: 10px;
				background-color: #f5f5f5;
			}
			
			div#dialogue02 div.panel a.new {
				color: #1D2B33;
				font-size: 1.2em;
				display: block;
				text-align: center;
			}

			.loginframe {
				background-color:#eaeaea;
				border:3px solid #d1d1d1;
				width:300px;
				height:200px;
			}

/* Login Modal */

.fslogin {
	padding:10px;
}

.fslogin .field {
	padding:5px 10px;
}

.fslogin label {
		position:absolute;
		left:-9999em;
	}

.fslogin input {
	background:transparent url(/Style%20Library/SiteImages/bkg_search.gif) no-repeat left top;
	border:0 none;
	height:25px;
	margin:0;
	padding:0;
	vertical-align:top;
	color: #6c6c6c;
}

.fslogin p {
	color: #6c6c6c;
}

.fslogin .error,
.fslogin .error input {
	color: #f00;
	
}		

.fslogin #loginsubmit {
	background:transparent url(/Style%20Library/SiteImages/btn_search.gif) no-repeat top right;
	color:#102245;
	font-weight:bold;
	padding:0 0 5px;
	width:35px;
	}

.fslogin .passwordhelp span, 
.fslogin .loginhelp span {
	text-align:right;
}

/* template08 simple form page */

.template08 .promocolumn {
	float:right;
	width:188px;
	margin-right:4px;
}

.template08 .promocolumn .slot {
	margin:10px 0;
}

/* Search lister syles */

.resultslist {
    padding-left:10px;
    }


.searchwrapper {
	margin-bottom: 10px;
	margin-top: 10px;
	background-color: #fff;
	float: none;
	font-size:1.2em;
}

.resultslist .odd,
.resultslist .even {
	clear:both;
	margin-bottom:20px;
}

.primarycontentwrapper .resultslist li {
	list-style-type:none;
	padding-left: 0;
	padding-bottom: 10px;
	border-bottom:1px solid #dedede;
}

.resultslist .refinesearchwrapper {
	float:left;	
	padding:10px;
}

.resultslist .refinesearchwrapper h4 {
	float:left;	
	padding:10px;
	color:#333;
}

.resultslist .odd h4,
.resultslist .even h4 {
	float:left;
	padding:5px 0;
}

.resultslist h3 a {
	text-decoration:underline;
}

.resultslist h3 a:hover {
	text-decoration:none;
}

.resultslist b {
	font-weight:bold;
	padding:0 5px;
}

.primarycontentwrapper .resultslist li p {
	font-size:1em;
	padding: 5px 0 0 0;
}

.search .searchterm {
	float:left;
}

.search .backtotop {
	float:right;
}

.resultslist .searchurl {
	display:block;
}

.resultslist .searchurl a {
        text-decoration:underline;
        
    }

.resultslist .searchurl a:hover {
        text-decoration:none;
        
    }

.backtotop {
	padding:10px 0 0 10px;		
	font-size:1em;
	display:block;
}

#idmedialist .backtotop {
    padding-top:0;
    padding-bottom:10px;
    
    }
/* Search Pagination */

.paginationwrapper {
	clear:both;
	background-color: #eee;
	height:100%;
	height:auto !important;
	overflow:hidden;
	margin-bottom:10px;
	zoom:1;
}

.paginationwrapper h4 {
	padding:10px 10px 0;
	font-weight:bold;
	font-size:1.3em;
}

.paginationwrapper ol {
	padding:10px 10px 10px 15px;
	margin-bottom:0;
	height:100%;
	overflow:auto;
}

.paginationwrapper li {
	float:left;
	padding:5px 10px;
	list-style-type:none;
	border:1px solid #dedede;
	display:inline-block;
	background-color:#fff;
	}

.paginationwrapper li.current {
		color:#fff !important;
		background-color:#102245;
	
}

.paginationwrapper li.current a {
		color:#fff !important;
}

.paginationwrapper li.next {
	padding-left:10px;

}

.paginationwrapper li.next a {
	padding-right:18px;
	background: transparent url(/Style%20Library/SiteImages/bkg_pagination_right.gif) no-repeat 100% 50%;
}

.paginationwrapper li.previous a {
	padding-left:18px;
	background: transparent url(/Style%20Library/SiteImages/bkg_pagination_left.gif) no-repeat 0 50%;
}

.seehelp {
	padding:10px 0 10px 10px;
}

.seehelp em {
	font-weight:bold;
	padding:0 5px;
}


/* social bookmarking */

.socialbookmarks {
	border:1px solid #dedede;
	padding:15px;
	width:500px;
	margin:20px 0 10px 0;
}

.socialbookmarks ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding-top:15px;
	padding-left:15px;
	text-align:left;
	margin:0;
	}
	
.socialbookmarks ul li {
	display:inline;
	padding:0 14px 6px 20px;
	text-align:center;
	}
	
.socialbookmarks ul li.delicious {
	background:transparent url(/Style%20Library/SiteImages/bkg_icon_delicious.gif) no-repeat scroll 0 0;
	}	
	
.socialbookmarks ul li.digg {
	background:transparent url(/Style%20Library/SiteImages/bkg_icon_digg.gif) no-repeat scroll 0 0;
	}	
	
.socialbookmarks ul li.facebook {
	background:transparent url(/Style%20Library/SiteImages/bkg_icon_facebook.gif) no-repeat scroll 0 0;
	}	
	
.socialbookmarks ul li.reddit {
	background:transparent url(/Style%20Library/SiteImages/bkg_icon_reddit.gif) no-repeat scroll 0 0;
	}	
	
.socialbookmarks ul li.stumbleupon {
	background:transparent url(/Style%20Library/SiteImages/bkg_icon_stumbleupon.gif) no-repeat scroll 0 0;
	}		
	
/* Sitemap */
.sitemapwrapper h2 {
	clear:both;
	color: #102245;
	font-weight:bold;
	font-size:1.6em;
}

.sitemapwrapper .sitemaplist {
	float: left;
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	width:100%;
}

.sitemapwrapper .sitemaplist li  {
	width: 150px;
	float: left;
	list-style-type: none;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background:transparent url(/Style%20Library/SiteImages/slot-bullet.gif) no-repeat 0 50%;
}

/* autocomplete */

.ac_results {
	padding: 0px;
	border: 1px solid WindowFrame;
	background-color: Window;
	overflow: hidden;
	z-index:100;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results iframe {
	display:none;/*sorry for IE5*/
	display/**/:block;/*sorry for IE5*/
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	filter:mask();
	width:3000px;
	height:3000px;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
	background : Window url(/Style%20Library/SiteImages/icon_search_indicator.gif) right center no-repeat;
}

.ac_over {
	background-color: Highlight;
	color: HighlightText;
}


/* Sitemap Styles */
    
#idsitemap h3 {
	padding:5px 0;
	}

/* Embedded media player */
.template07 .mediaplayerwrapper{
	padding:20px;
	text-align:center;
}
	
/* Login Page  */

.loginwrapper,
.registerwrapper {
	width:295px;
	margin-right:20px;
	float:left;
	padding:20px;
	position:relative;
	background:transparent url(/Style%20Library/SiteImages/bkg_loginpanel.gif) no-repeat 0 0;
    height:275px;
    font-size:1.2em;
}

.loginwrapper {
    background:transparent url(/Style%20Library/SiteImages/bkg_loginpanel_left.gif) no-repeat 0 0;
	min-height:235px;
	height:auto !important;
    height:235px;
    }

.loginwrapper .action {
    zoom:0;
    position:absolute;
    bottom:0;
    left:0;
	width:315px;
	height:45px;
	background:transparent url(/Style%20Library/SiteImages/bkg_loginpanel_left_bottom.gif) no-repeat 0 100%;
   }

.secondarycontentwrapper .loginwrapper .error ul {
    margin-bottom:0;
    }

.loginwrapper .error {
    border: 1px solid red;
    color:#f00;
    padding: 10px;
    margin:0 20px 25px 0;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    background-color:#fff;
    }

.loginwrapper .error ul {
    list-style-image:none;
    list-style-position:inside;
    list-style-type:disc;
    margin-bottom:0;
    }
.loginwrapper .error ul li {
    background-image:none;
    padding-left:5px;
    }

.loginwrapper h2,
.registerwrapper h2	{
	padding-bottom:26px;
		}

.loginwrapper label {
	font-size:1.2em;
	font-weight:bold;
	padding-left:34px;
}

.loginwrapper .field {
	padding:0 0 35px 15px;
}

.loginwrapper .passwordhelp,
.loginwrapper .loginhelp {
	text-indent:70px;
	position:absolute;
	top:98px;
	left:0;
}
.loginwrapper .passwordhelp {
	top:177px;
    }
    
    
.loginwrapper .loginhelpicon {
	padding-right:8px;
	vertical-align:bottom;
}

.loginwrapper .action .btngoback  {
    position:absolute;
    top:10px;
    left:10px;
    }

.loginwrapper .action .btnLogin {
    position:absolute;
    top:10px;
    right:10px;
    }

.registerwrapper .action {
    padding-right:15px;
    }
    
.registerwrapper .action .btnregister {
	float:right;
	padding-left:10px;
	background-color:transparent;
}

.verisign {
    float:right;
    padding:20px;
    }

.registerwrapper h3 {
    padding-top:10px;
	padding-bottom:10px;
}

.registerwrapper p span {
	font-weight:bold;
}

.registerwrapper ul li {
	padding:5px 0 5px 20px;
	zoom:1;
}

/* Generic Tooltips */
	.toolTipContainer 	{
	    display:none;
		background:transparent url(/Style%20Library/SiteImages/bkg_login_tooltip.gif) repeat-x 0 0;	
		padding:0 0 0 13px;
		left:67px;
		position:absolute;
		vertical-align:top;
		width:200px !important;
		z-index:1;
		border:1px solid #4d4d4d;
	    -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-bottomright: 10px;
}

	.toolTipText span {
		display:block;
		font-weight:bold;
	}		

.ms-siteaction {
       z-index:100;
    }


/* rich text changes */
.richtextwrapper {
        font-size:1.2em;
        margin:10px 0;
    }

#uspinner .richtextwrapper,
#tipsinner .richtextwrapper {
        margin:10px 10px 10px 15px
    }
    
.template02 .promogrid4col .richtextwrapper {
        font-size:.9em;
    }

#uspinner .richtextwrapper p {
    padding-bottom:10px;
    }

.slotcontent .richtextwrapper p {
    padding-bottom:10px;
    }

.primarycontentwrapper .richtextwrapper p,
.primarycontentwrapper .richtextwrapper ul,
.primarycontentwrapper .richtextwrapper ol {
    margin:0 0 21px 10px;
	padding:0 !important
    }
  
.BrandingText {
	display:none;
}   
