.dummySubmit {
	position: absolute;
	left: -999em;
}

selector:after,
div.field:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div.field {
	border: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 10px;
}

div.fieldError {
	border-color: #f00;
}

div.fieldSuccess {
	border-color: lightgreen;
}

div.field div.indicator {
	float: left;
	width: 150px;
}

div.field div.element {
	float: left;
	width: 170px;
}

div.field div.helpHint {
	float: left;
	width: 300px;
}

div.field div.tooltip {
	float: left;
	width: 10px;
	border: 1px solid blue;
	height: 10px;
	margin-right: 10px;
	background-color: lightblue;
}

div.field div.tooltip div.tooltipInner {

}

div.field div.errorMessage {
	float: left;
	width: 400px;
	border: 1px solid #f00;
}



div.errorSummary {
	border: 1px solid #f00;
	margin-bottom: 10px;
}

div.hide {
	display: none;
}




div.tooltip {
	position: relative;
}

div.tooltip div.tooltipInner {
	position: absolute;
	left: 10px;
	top: 0px;
	width: 200px;
	border: 1px solid #ccc;
	background: #fff;
	padding: 10px;
}

.highlight {
	background-color: pink;
}