/********************************************************************************
* faq
********************************************************************************/

#faqs {
    border-top: 1px solid #eee;
    padding-top: 10px;
}

div.question {
	margin-bottom: 10px;
	border-bottom: 1px solid #eee;
}

div.question h2 {
    margin-bottom: 12px;
}

div.answerHidden {
    padding-bottom: 10px;
}

div.answerHidden h2 {
    margin-bottom: 4px;
}

div.answerHidden div.answer {
    display: none;
}