/*********************************************************************
* Vertical accordian
*********************************************************************/

div.accordian {
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

div.accordian div.header {
	margin-bottom: 1px;
	background-color: #444;
}

div.accordian div.header h2 {
	margin: 0px;
	font-size: 1.2em;
	color: #ffffff;
}

div.accordian div.header h2 a {
	color: #ffffff;
	display: block;
	padding: 10px;
}

div.accordian div.header h2 a.selected {
	background-color: #999;
}

div.accordian div.panel {
}

div.accordian div.panel div.inner {
	padding: 10px;
	margin-bottom: 1px;
}

div.accordian div.panel p {
	margin: 0px;
}

div.accordian div.panelOn {}
