div#container,
div.containerInner,
div#header,
div#content,
div.contentInner,
div#footer,
div.contactDetails {
	height: 1%;
}

div#primaryNavigation ul li a,
div#primaryNavigation ul li a:link,
div#primaryNavigation ul li a:visited {
	float: left;
}

div#primaryNavigation ul li a span,
div#primaryNavigation ul li a:link span,
div#primaryNavigation ul li a:visited span {
	float: left;
	cursor: pointer;
}