div#blogPrimaryPanel {
	
}

div#blogPrimaryPanel h2.date-header {
	font-size: 1.1em;
	text-transform: uppercase;
	margin-bottom: 0px;
}

div#blogPrimaryPanel h3.post-title {
	font-size: 1.6em;
}

div#blogPrimaryPanel div.post {
	padding-bottom: 10px;
	border-bottom: 1px solid #f5f5f5;
	margin-bottom: 17px;
}

div#blogSidePanel {
	padding-left: 25px;
	border-bottom:1px solid #F5F5F5;
}

div#blogSidePanel h2 {
	font-size: 1.3em;
	margin-bottom: 0px;
}

div#comments {
	padding: 10px;
	background-color: #DDDDDD;
	border: 1px solid #cccccc;
}

div#comments h4 {
	font-size: 1.2em;
}
