div.carousel {
	margin-bottom: 10px;
	padding: 10px;
	overflow: hidden;
	border: 1px solid #333;
	background-color: #eeeeee;
	/*position: relative;*/
}

div.carousel a.next,
div.carousel a.start {
}

div.carousel a.previous,
div.carousel a.stop {
}

div.carousel ul {
	list-style: none;
	overflow: hidden;
	position: relative;
}

div.carousel ul li {
	font-weight: bold;
	font-size: 1.2em;
	background: #f5f5f5;
}

div.carousel ul li div {
	padding: 50px;
	border: 1px solid #333;
}
