div.carousel {
	margin-bottom: 10px;
	overflow: hidden;
	position: relative;
}

div.carousel a.next,
div.carousel a.start {
	display: block;
	padding: 10px;
	font-weight: bold;
	font-size: 1.2em;
	position: absolute;
	bottom: 5px;
	right: 0;
	background-color: #eeeeee;
}

div.carousel a.previous,
div.carousel a.stop {
	display: block;
	padding: 10px;
	font-weight: bold;
	font-size: 1.2em;
	position: absolute;
	bottom: 5px;
	left: 0;
	background-color: #eeeeee;
}

div.carousel ul {
	list-style: none;
}

div.carousel ul li {
	font-weight: bold;
	font-size: 1.2em;
	background: #f5f5f5;
}

div.carousel ul li div {
	padding: 50px;
}
