/********************************************************************************
* Layout
********************************************************************************/

#sections {
	overflow: hidden;
}

#sections #primary {
	width: 600px;
	float: left;
	padding-top: 12px;
	padding-right: 24px;
	padding-left: 16px;
}

#sections #secondary {
	width: 226px;
	float: left;
	padding-left: 6px;
	background: url(../img/bg/sections.jpg) no-repeat 0px -300px;
}

/********************************************************************************
* Claim form
********************************************************************************/

#claimForm {
	padding-top: 12px;
	padding-left: 16px;
	padding-right: 16px;
	background-color: #f5f5f5;
	padding-bottom: 12px;
}
