* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	font-family: verdana, arial, sans-serif;
	background: #eee;
	font-size: 62.5%;
	margin-bottom: 10px;
	position: relative;
}

a, a:visited {
	text-decoration: none;
	color:#00a0c6;
}

a:hover {
	background: #eee;
}

h1 span, h2 span {
	display: none;
}


h3 {
	font-size: 1.2em;
	font-weight: bold;
}

p {
	margin-top: 14px;
	margin-bottom: 14px;
	text-align: justify;
}

p.normal {
	margin-top: 14px;
	margin-bottom: 14px;
	text-align: left;
}

input, textarea {
	border: 1px solid #ccc;
	font-size: 1em;
	padding: 5px;
	margin: 5px 0px;
	font-family: verdana, arial, sans-serif;
}

textarea:focus, input:focus {
	background:#eee;
	border:1px solid #00a0c6;
}

textarea {
	font-family: verdana, arial, sans-serif;
	font-size: 1em;
	width: 250px;
}

input.button {
	border: 1px solid #ccc;
	background: #eee;
	width: 130px;
	color:#00a0c6;
	font-weight: bold;
}

fieldset {
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 10px;
}

form {
	margin-top: 10px;
}

#specialoffer {
	margin: 0 auto;
	background: #eee;
	border: 1px solid #00a0c6;
	padding: 10px 10px 0px 10px;
}


#container {
	margin: 10px auto;
	width: 741px;
	font-size: 1.1em;
}

#main {
	padding-top: 10px;
	width: 739px;
	border-right: 1px solid #aaa;
	border-left: 1px solid #aaa;
	background: #fff;
}

#header {
	background: url(../img/header.jpg) #fff;
	background-position: bottom center;
	background-repeat: no-repeat;
	height: 65px;
}

#header_link {
	width: 180px;
	height: 55px;
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	text-indent: -1000em;
	text-decoration: none;
	background: none;
}

#title_contact, #title_home, #title_examples {
	margin: 0px 10px 0px 10px;
	height: 150px;
	width: 716px;
	background-position: top center;
	background-repeat: no-repeat;
}

#title_contact {
	background: url(../img/t-contact.gif);
}

#title_home {
	background: url(../img/t-home.gif);
}

#title_examples {
	background: url(../img/t-examples.gif);
}

#content {
	margin: 10px 10px 0px 10px;
	padding: 10px;
	clear: none;
}

#content_right {
	float: right;
	margin-left: 10px;
	width: 180px;
	padding: 0px 10px;
	margin-bottom: 10px;
}

#content_left {
	float: left;
	width: 480px;
	margin-bottom: 10px;
}

#column1 {
	float: left;
	border-right: 1px solid #ccc;
	padding-right: 35px;
	width: 305px;
}

#column2 {
	float: left;
	padding-left: 35px;
	width: 305px;
}

#footer {
	margin: 0px 10px 0px 10px;
	height: 35px;
	line-height: 3em;
	padding: 0px 10px;
	clear: both;
	background: url(../img/footer.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}

#footer_right {
	float: right;
}

#footer_left {
	float: left;
}

#footer p {
	margin: 0px;
	padding: 0px;
}

#top {
	height: 10px;
	background: url(../img/topbot.gif);
	background-position: top left;
	background-repeat: no-repeat;
}

#bottom {
	height: 12px;
	background: url(../img/topbot.gif);
	background-position: bottom left;
	background-repeat: no-repeat;
}

ul#nav {
	float: right;
	list-style-type: none;
	width : 207px;
}

ul#nav a {
	display : block; 
	line-height : 50px; 
	text-decoration : none; 
	width : 197px;
	padding-right:10px;
	height: 50px;
	color : #000;
	text-align: right;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	/*filter:alpha(opacity=78);
	opacity: 0.78;
	-moz-opacity:0.78;*/
} 

ul#nav a#home{
	background: #00a0c6;
}

ul#nav a#examples {
	background: #f0027f;
}

ul#nav a#contact {
	background: #ffff00;
}

ul#nav a#home:hover, body#homeon ul#nav a#home {
	background-color : #000;
	color: #00a0c6;
}

ul#nav a#examples:hover, body#exampleson ul#nav a#examples {
	background-color : #000;
	color: #f0027f;
}

ul#nav a#contact:hover, body#contacton ul#nav a#contact {
	background-color : #000;
	color: #ffff00;
}

#content ul {
	list-style-type: circle;
	margin: 15px 15px 15px 25px;
}

#content ul li {
}
