/******************************************************************
* Generic
******************************************************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 62.5%;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica", arial;
	border-top: 4px solid #6CAF45;
}

/******************************************************************
* Link styles
******************************************************************/

a img {
	border: none;
}

a, a:link, a:visited {
	color: #000000;
}

a:hover, a:focus, a:active {
	color: #ffffff;
	background-color: #000000;
}

a.action, a.action:link, a.action:visited {
	background-color: #6CA714;
	color: #fff;
	padding: 10px;
}

a:hover, a:focus, a:active {
	color: #ffffff;
	background-color: #000000;
}

.hide {
	display: none;
}

.off {
	position: absolute !important;
	left: -999em !important;
	top: 0 !important;
}

/******************************************************************
* Clearfix
******************************************************************/

selector:after  {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

/******************************************************************
* Text styles
******************************************************************/

h1, h2, h3, h4, h5, h6, p {
}

h1 {
	font-size: 3em;
	font-weight: normal;
	color: #4E7F2F;
	margin-bottom: 10px;
}

h2 {
	font-size: 2.1em;
	font-weight: normal;
	color: #4E7F2F;
	margin-bottom: 5px;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 5px;
}

p {
	font-size: 1.5em;
	line-height: 1.5em;
	color: #333;
	margin-bottom: 15px;
}

ul, ol {
	margin: 0px 20px 20px;
	list-style: square;
}

 ol {
	list-style: decimal;
 }

ul li, ol li {
	font-size: 1.2em;
	margin-left: 25px;
	margin-bottom: 5px;
	color: #CCCCCC;
}

ul li ul li,ol li ol li {
	font-size: 1em;
}

#header {
	border-bottom: 1px solid #d9d9d9;
}

#headerInner {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#logo {
	float: left;
	padding: 32px 16px 32px 16px;
}

#logo img {
	display: block;
}

#tel {
	float: right;
	padding-top: 140px;
	padding-right: 16px;
}

#tel p {
	text-align: right;
	font-size: 3em;
	color: #4E7F2F;
	font-weight: bold;
	text-transform: uppercase;
}

#content {
	width: 958px;
	margin: 0 auto;
	overflow: hidden;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	background: url(../img/bg-logo.jpg) top right no-repeat;
}

#primary {
	float: left;
	width: 700px;
}

#secondary {
	float: left;
	width: 258px;
}

#footer {
	border-top: 1px solid #d9d9d9;
	background-color: #6CAF45;
	padding: 16px;
}

#footerInner {
	width: 928px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 16px;
}

#footer p {
	color: #fff;
	font-size: 1.1em;
	margin: 0;
}

#footer p.copyright {
	float: left;
}

#footer p.design {
	float: right;
	text-align: right;
}

#welcome {
	padding: 16px;
}