/******************************************************************
* Generic
******************************************************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 62.5%;
	font-family:arial;
	background: #000 url(../img/bg_body.jpg) no-repeat top center;
}


/******************************************************************
* Link styles
******************************************************************/

a img {
	border: none;
}

a, a:link, a:visited {
	color: #A19595;
	text-decoration: none;
	font-weight: bold;
}

a:hover, a:focus, a:active {
	color: #ffffff;
}

.hide {
	display: none;
}

.off,
 {
	position: absolute !important;
	left: -999em !important;
	top: 0 !important;
}

/******************************************************************
* Clearfix
******************************************************************/

selector:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

/******************************************************************
* Text styles
******************************************************************/

h1, h2, h3, h4, h5, h6, p {
}

h1 {
	font-size: 3em;
	color: #fff;
	margin: 0 10px 20px;
}

h2 {
	font-size: 1.8em;
	color: #dc153f;
	margin: 0 10px 10px;
}

h2 span {
	color: #fff;
	font-size:  0.65em;
}

h3 {
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	margin: 25px 10px 10px;
}

p {
	font-size: 1.1em;
	line-height: 1.5em;
	color: #fff;
	margin: 0px 10px 10px 10px;
}

ul, ol {
	list-style: square;
	margin-left: 0px;
}

 ol {
	list-style: decimal;
 }

ul li, ol li {
	font-size: 1.1em;
	margin-left: 25px;
	margin-bottom: 5px;
	color: #fff;
}

ul li ul li,ol li ol li {
	font-size: 1em;
}


/******************************************************************
* Main bits
******************************************************************/

div#container {
	width: 960px;
	margin: 0px auto;
}
div#header {
	padding: 40px 10px 20px;
}

#primaryNavigation {
	border-top: 1px solid #1a1616;
	background: url(../img/bg_nav.png);
	padding: 10px;
}

#primaryNavigation ul {
	list-style: none;
	overflow: hidden;
	margin: 0;
}

#primaryNavigation ul li {
	float: left;
	font-size: 1.1em;
	margin: 0;
	margin-right: 10px;
}

#primaryNavigation ul li a {
	color: #a19595;
	font-weight: bold;
	text-decoration: none;
}

#primaryNavigation ul li a:hover,
#primaryNavigation ul li a.focus,
#primaryNavigation ul li a.selected {
	color: #fff;
}

#slogan {
	background: #f6c0cb url(../img/bg_slogan.gif) repeat-y;
	margin-bottom: 20px;
}

#slogan {
	padding: 3px 10px;
}

#slogan p {
	color: #000;
	margin: 0;
}

#content {
	min-height: 300px;
	overflow: hidden;
	padding-bottom: 40px;
}

div.primary,
div.secondary,
div.tertiary {
	float: left;
	width: 320px;
}

#footer {
	border-top: 1px solid #1a1616;
	padding: 10px;
}

#footer p {
	color: #fff;
	margin: 0px;
}

p.word {
	background: url(../img/page_white_word.png) no-repeat top left;
	padding-left: 22px;
}

p.email {
	background: url(../img/email.png) no-repeat top left;
	padding-left: 22px;
}

p.telephone {
	background: url(../img/telephone.png) no-repeat top left;
	padding-left: 22px;
}

#pgHome div.secondary {
	width: 640px;
}

div.featuredWork {

}

div.featuredWork div.image {
	border: 1px solid #1A1616;
	padding: 8px;
	margin-bottom: 8px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
}

div.featuredWork div.image  ul.pages {
	margin: 0;
	overflow: hidden;
	margin-bottom: 10px;
}

div.featuredWork div.image  ul.pages li.page{
	margin: 0;
	width: 600px;
	margin-right: 10px;
}

div.featuredWork div.image a.back {
	float: left;
	font-size: 1.1em;
	margin-right: 3px;
	height: 17px;
	width: 23px;
	background: url(../img/left_arrow.jpg) no-repeat;
}

div.featuredWork div.image a.back span {
	display: none;
}

div.featuredWork div.image a.backDisabled {
	background-image: url(../img/left_arrow_disabled.jpg);
}

div.featuredWork div.image a.forward {
	float: left;
	font-size: 1.1em;
	height: 17px;
	width: 23px;
	background: url(../img/right_arrow.jpg) no-repeat;
}

div.featuredWork div.image a.forward span {
	display: none;
}

div.featuredWork div.image a.forwardDisabled {
	background-image: url(../img/right_arrow_disabled.jpg);
}

#pgHome h1 {
	position: absolute;
	left: -9999em;
	top: 0;
}

/******************************************************************
* Products
******************************************************************/

div.product {}

div.product h3 {
	font-size: 1.2em;
}

div.product p span.price {
	color: #dc153f;
}