 ul#primarynav { 
	height: 109px;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: 6px; 
	width: 499px; 
	background: transparent url(../img/nav.jpg) top left no-repeat; 
	position: relative;
}

 ul#primarynav li { 
	list-style: none; 
	position: absolute; 
	top: 0; 
}

 ul#primarynav li, ul#primarynav a { 
	height: 109px;
	display: block;
}

ul#primarynav li a { 
	text-indent: -9999px; 
	text-decoration: none; 
	/* commented backslash hack v2 \*/ overflow: hidden; /* end hack */ 
}

#home { left: 0px; width: 165px; }
#services { left: 167px; width: 165px; }
#contact { left: 334px; width: 165px; }

#home a:hover, body#homeon #home { 
	background: transparent url(../img/nav.jpg) 0px -109px no-repeat; 
}

#services a:hover, body#serviceson #services { 
	background: transparent url(../img/nav.jpg) -167px -109px no-repeat; 
}

#contact a:hover, body#contacton #contact { 
	background: transparent url(../img/nav.jpg) -334px -109px no-repeat; 
}

