/********************************************************************************
* Layout
********************************************************************************/

#sections {
	overflow: hidden;
}

#sections #primary {
	
}

/********************************************************************************
* Claim form
********************************************************************************/

#claimForm {
	background: #f5f5f5;
	border: 1px solid #AAAAAA;
	padding: 16px;
}

#claimForm div.indicator {
	width: 170px;
}

#claimForm div.singleInput {
	width: 400px;
}

#claimForm div.singleInput textarea,
#claimForm div.singleInput input.text {
	width: 350px;
}

#claimForm div.actions {
	padding-right: 95px;
}

#claimForm #title {
	width: 40px;
}

#claimForm #firstName,
#claimForm #lastName,
#claimForm #dayTimePhone,
#claimForm #alternativePhone,
#claimForm #town{
	width: 200px;
}

#claimForm #dob,
#claimForm #postCode{
	width: 100px;
}

#claimForm #emailAddress,
#claimForm #addressLine1,
#claimForm #addressLine2{
	width: 300px;
}
