/********************************************************************************
* Layout
********************************************************************************/

#sections {
	overflow: hidden;
}

#sections #primary {
	width: 400px;
	float: left;
	padding-top: 12px;
	padding-right: 24px;
}

#sections #secondary {
	width: 392px;
	float: left;
	padding-left: 32px;
	padding-top: 12px;
	background: url(../img/bg/sections.jpg) no-repeat top left;
}

/********************************************************************************
* Claim form
********************************************************************************/

#claimForm {
	
}