/********************************************************************************
* Layout
********************************************************************************/

#sections {
	overflow: hidden;
}

#sections #primary {
	width: 424px;
	float: left;
}

#sections #secondary {
	width: 408px;
	float: left;
	margin-left: 16px;
}

/********************************************************************************
* Claim form
********************************************************************************/

#claimForm {
	
}