/*************************************************************
* Primary
*************************************************************/

ul#nav{ 
	list-style: none; 
	width: 100%;
	border-bottom: 1px solid #fff;
	background-color: #E24753;
}

ul#nav li { 
	float: left; 
	background: transparent; 
	text-align: center;
}

ul#nav li a, ul#nav li a:link, ul#nav li a:visited { 
	float: left; 
	font-size: 1.2em; 
	padding: 13px 5px 13px 5px; 
	color: #ffffff; 
	text-decoration: none; 
	border-right: 1px solid #ffffff; 
	width: 142px;
	font-weight: bold;
	background-color: #444;
}

ul#nav li a:hover,
ul#nav li a:active,
body#homeon li a#homepage,
body#newson li a#news,
body#serviceson li a#services,
body#sectorson li a#sectors,
body#contacton li a#contact { 
	color: #ffffff;
	background: #de2a39 url(../img/arrow.gif) bottom center no-repeat;

}

a.last {
	width: 141px !important;
	border-right: 0px !important;
}

/*************************************************************
* Secondary
*************************************************************/

ul#subnav {
	clear: both;
	list-style: none;
	border-top: 1px solid #fff;
}

ul#subnav li {
}

ul#subnav li a, ul#subnav li a:link, ul#subnav li a:visited {
	width: 264px;
	display: block;
	padding: 10px 10px 10px 30px ;
	border-bottom: 1px solid #fff;
	font-size: 1.2em;
	text-decoration: none;
	color: #fff;
	background: #2989CF url(../img/arrow_right.gif) no-repeat 12px 13px;
}

ul#subnav li a:hover, ul#subnav li a:active, ul#subnav li a.selected {
	background: #2371AD url(../img/arrow_right.gif) no-repeat 12px 13px;
}
