/******************************************************************
* Generic
******************************************************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 62.5%;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica", arial;
	border-top: 4px solid #6CAF45;
}

/******************************************************************
* Link styles
******************************************************************/

a img {
	border: none;
}

a, a:link, a:visited {
	color: #000000;
}

a:hover, a:focus, a:active {
	color: #ffffff;
	background-color: #000000;
}

a.action, a.action:link, a.action:visited {
	background-color: #6CA714;
	color: #fff;
	padding: 10px;
}

a:hover, a:focus, a:active {
	color: #ffffff;
	background-color: #000000;
}

.hide {
	display: none;
}

.off {
	position: absolute !important;
	left: -999em !important;
	top: 0 !important;
}

/******************************************************************
* Clearfix
******************************************************************/

selector:after  {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

/******************************************************************
* Text styles
******************************************************************/

h1, h2, h3, h4, h5, h6, p {
}

h1 {
	font-size: 3em;
	font-weight: normal;
	color: #4E7F2F;
	margin-bottom: 20px;
}

h2 {
	font-size: 2.1em;
	font-weight: normal;
	color: #4E7F2F;
	margin-bottom: 5px;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 5px;
}

p {
	font-size: 1.5em;
	line-height: 1.5em;
	color: #333;
	margin-bottom: 15px;
}

ul, ol {
	margin: 0px 20px 20px;
	list-style: square;
}

 ol {
	list-style: decimal;
 }

ul li, ol li {
	font-size: 1.2em;
	margin-left: 25px;
	margin-bottom: 5px;
	color: #CCCCCC;
}

ul li ul li,ol li ol li {
	font-size: 1em;
}

#header {
	border-bottom: 1px solid #d9d9d9;
}

#headerInner {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
}

#logo {
	float: left;
	padding: 32px 16px 32px 16px;
}

#logo img {
	display: block;
}

#tel {
	float: right;
	padding-top: 140px;
	padding-right: 16px;
}

#tel p {
	text-align: right;
	font-size: 3em;
	color: #4E7F2F;
	font-weight: bold;
	text-transform: uppercase;
}

#content {
	width: 958px;
	margin: 0 auto;
	overflow: hidden;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
	background: url(../img/bg-logo.jpg) top right no-repeat;
}

#primary {
	float: left;
	width: 600px;
}

#secondary {
	float: left;
	width: 358px;
}

#footer {
	border-top: 1px solid #d9d9d9;
	background-color: #6CAF45;
	padding: 16px;
}

#footerInner {
	width: 928px;
	margin: 0 auto;
	overflow: hidden;
	padding: 0 16px;
}

#footer p {
	color: #fff;
	font-size: 1.1em;
	margin: 0;
}

#footer p.copyright {
	float: left;
}

#footer p.design {
	float: right;
	text-align: right;
}

#welcome {
	padding: 16px;
}

#welcome h1 {
	display: none;
}

#welcome h2 {
	margin-bottom: 20px;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bold;
}

#welcome h3 {

}

#welcome ul {
	margin-left: 0px;
}

#welcome ul li {
	font-size: 1.7em;
	color: #333;
	margin-bottom: 12px;
}

#welcome p {
	font-size: 1.8em;
	margin-bottom: 11px;
}

#welcome p.question {
	font-style: italic;
	font-weight: bold;
	font-size: 2.2em;
}

#welcome p.last {
	margin-bottom: 20px;
}

#licensed {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
}

#licensed p {
	margin: 0px;

}

#contact {
	margin-right: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 16px;
	border-bottom: 1px solid #d9d9d9;
}

#contact  h2 {
	margin-bottom: 10px;
}

#contact p {
	margin-bottom: 0px;
}

#contactForm {
	margin-right: 16px;
	padding-left: 16px;
	padding-top: 16px;
	padding-bottom: 16px;
}

#contactForm  h2 {
	margin-bottom: 10px;
}

#contactForm textarea {
	height: 100px;
}


div.field {
	margin-bottom: 21px;
	overflow: hidden;
}

div.field div.indicator {
	float: left;
	width: 100px;
}

div.field div.indicator label {
	font-size: 1.5em;
}

div.field div.singleInput {
	float: left;
	width: 200px;
}

div.field div.singleInput input.text,
div.field div.singleInput textarea {
	width: 200px;
	border: 1px solid #d9d9d9;
	padding: 3px;
	font-size: 1.5em;
	font-family: inherit;
}

div.actions {
}

div.actions input {
	width: 308px;
	padding: 8px 0px;
	display: block;
	border: 1px solid #d9d9d9;
	text-transform: uppercase;
	font-size: 1.5em;
	cursor: pointer;
}

div.actions input:hover,
div.actions input:focus {
	background-color: #6CAF45;
	color: #fff;
}

div#errorMessage {
	
}

div#errorMessage h3 {
	color: #ff0000;
}

div#errorMessage ul li {
	color:#ff0000;
}

div#errorMessage ul li a{
	color: #ff0000;
}

div#errorMessage ul li a:hover {
	background-color: #fff;
	text-decoration: none;
}



