/********************************************************************************
* Layout
********************************************************************************/

#sections {
	overflow: hidden;
}

#sections #primary {
	
}

/********************************************************************************
* Claim form
********************************************************************************/

#claimForm {
	background: #f5f5f5;
	border: 1px solid #AAAAAA;
	padding: 16px;
}

#claimForm div.indicator {
	width: 170px;
}

#claimForm div.singleInput {
	width: 400px;
}

#claimForm div.singleInput textarea,
#claimForm div.singleInput input.text {
	width: 350px;
}

#claimForm div.actions {
	padding-right: 95px;
}

#also {
	border:1px solid #aaa;
	margin:0 0 20px 0;
	background-color: #fff;
}

#also h2 {
	background-color: #ddd;
	color: #13007D;
	padding: 8px 10px;
	margin: 0px;
	font-size: 1.6em;
}

#also ul {
	border-top: 1px solid #eee;
	margin-bottom: 0px;
}

#also li {
	border-bottom: 1px solid #eee;
	margin: 0px;
	padding: 0px;
	background: none;
}

#also li a {
	color: #13007D;
	text-decoration: none;
	padding: 8px 8px 8px 28px;
	display: block;
	font-weight: bold;
	background:transparent url(../img/arrow.gif) no-repeat 10px 50%;
}

#also li a:hover {
	background-color: #eee;
}