/********************************************************
* hasLayout
********************************************************/

div#container,
#header,
#content,
div.faux,
div#primaryNavigation,
div#primaryNavigation ul,
div#footer,
div.field,
div.action,
div#lightBox div.header,
div#myLightBox div.login,
div#dropDownMenu,
div#dropDownMenu ul li ul li,
div#carousel02 div.controls,
div#dropDownMenu ul {
	zoom: 1;
}

/********************************************************
* Misc
********************************************************/

div.field div.checkboxes div.input label, 
div.field div.radios div.input label {
	margin-top: 3px;
}

div#carousel02 div.controls {
	padding-bottom: 2px;
}

/********************************************************
* break word
********************************************************/

div.code {
	word-wrap: break-word;
}