/******************************************************************
* Generic
******************************************************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 62.5%;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica", arial;
	background: url(../../img/bg_body.jpg) repeat-x;
	border-top: 2px solid #6CA714;
}

/******************************************************************
* body
******************************************************************/

body.services {
	border-color: #0099FF;
}

body.about {
	border-color: #FF0099;
}

body.portfolio {
	border-color: #FF6600;
}

body.contact {
	border-color: #FFFF33;
}


/******************************************************************
* Layout: Portfolio
******************************************************************/

#pgPortfolio #primary,
#pgContact #primary {
	float: left;
	width: 640px;
}

#pgPortfolio #secondary,
#pgContact #secondary {
	float: left;
	width: 320px;
}


/******************************************************************
* Link styles
******************************************************************/

a img {
	border: none;
}

a, a:link, a:visited {
	color: #000000;
}

a:hover, a:focus, a:active {
	color: #ffffff;
	background-color: #000000;
}

a.action, a.action:link, a.action:visited {
	background-color: #6CA714;
	color: #fff;
	padding: 10px;
}

a:hover, a:focus, a:active {
	color: #ffffff;
	background-color: #000000;
}

.hide {
	display: none;
}

.off,
body#pgHomePage h1,
#breadcrumb p,
div.field fieldset legend,
div.field fieldset legend span,
div.field div.multipleInput div.input label {
	position: absolute !important;
	left: -999em !important;
	top: 0 !important;
}

/******************************************************************
* Clearfix
******************************************************************/

selector:after,
div#header:after,
div#content:after,
#breadcrumb ul:after,
div.action:after,
#sections:after,
div#homePanels01:after,
div#homePanels02:after,
div.field:after,
div.field div.checkboxes div.input:after,
div.field div.radios div.input:after,
#horizontalAccordion:after,
ul.projects:after,
div#dropDownMenu ul:after,
div#menu ul:after,
div#homePanels02:after  {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

/******************************************************************
* Text styles
******************************************************************/

h1, h2, h3, h4, h5, h6, p {
	margin: 0px 25px 20px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 1.2em;
	line-height: 1.5em;
}

ul, ol {
	margin: 0px 20px 20px;
	list-style: square;
}

ul li, ol li {
	font-size: 1.2em;
	margin-left: 25px;
	margin-bottom: 5px;
}

ul li ul li,ol li ol li {
	font-size: 1em;
}

/******************************************************************
* breadcrumb
******************************************************************/

#breadcrumb {
	padding: 12px 0px;
	border-bottom: 1px solid #E4E4E4;
	margin: 0px 20px 20px;
}

#pgHome #breadcrumb {
	margin-bottom: 0px;
}

#breadcrumb ul {
	list-style: none;
	margin: 0px;
}

#breadcrumb ul li {
	float: left;
	font-size: 1.1em;
	margin: 0px 4px 0px 0px;
	background: url(../../img/arrow01.gif) no-repeat 0px 2px;
	padding-left: 13px;
}

/******************************************************************
* Main bits
******************************************************************/

div#container {
	width: 960px;
	margin: 0px auto;
}

div#header {
	padding: 0px 20px;
}

#logo {
	float: left;
	margin-top: 35px;
}

#logo p {
	color: #fff;
	font-size: 1.1em;
	margin: 0px 0px 0px 1px;
	text-align: right;
	display: none;
}

#logo a {
	display:block;
	background-color: #6CA714;
}

#logo img {
	display: block;
}

body.services #logo a {
	background-color: #0099FF;
}

body.about #logo a{
	background-color: #FF0099;
}

body.portfolio #logo a{
	background-color: #FF6600;
}

body.contact #logo a{
	background-color: #FFFF33;
}

/******************************************************************
* Primary navigation
******************************************************************/

#primaryNavigation {
	float: right;
	margin-top: 31px;
	margin-bottom: 25px;
}

#primaryNavigation ul {
	list-style: none;
	overflow: hidden;
	margin-right: 0px;
	margin-bottom: 0px;
	border-left: 1px solid #1F1F1F;
	
}

#primaryNavigation ul li {
	float: left;
	border-right: 1px solid #1F1F1F;
	font-size: 1.1em;
	text-transform: uppercase;
	margin: 0px;
}

#primaryNavigation ul li.last {
	margin-right: 0px;
}

#primaryNavigation ul li a,
#primaryNavigation ul li a:link,
#primaryNavigation ul li a:visited {
	font-weight: bold;
	padding: 12px 15px 12px 15px;
	display: block;
	color: #fff;
	text-decoration: none;
	border-bottom: 2px solid #000000;
}

#primaryNavigation ul li a.hover,
#primaryNavigation ul li a:hover,
#primaryNavigation ul li a:focus {
	color: #6CA714;
	background-color:#000000;

}

#primaryNavigation ul li a.selected {
	
}

#primaryNavigation ul li#pnHome a,
#primaryNavigation ul li#pnHome a:link,
#primaryNavigation ul li#pnHome a:visited{
	color: #6CA714;
}
#primaryNavigation ul li#pnHome a.selected {border-color: #6CA714;}

#primaryNavigation ul li#pnServices a,
#primaryNavigation ul li#pnServices a:link,
#primaryNavigation ul li#pnServices a:visited{
	color: #0099FF;
}
#primaryNavigation ul li#pnServices a.selected {border-color: #0099FF;}

#primaryNavigation ul li#pnPortfolio a,
#primaryNavigation ul li#pnPortfolio a:link,
#primaryNavigation ul li#pnPortfolio a:visited {
	color: #FF6600;
}
#primaryNavigation ul li#pnPortfolio a.selected {border-color: #FF6600;}

#primaryNavigation ul li#pnAbout a,
#primaryNavigation ul li#pnAbout a:link,
#primaryNavigation ul li#pnAbout a:visited {
	color: #FF0099;
}
#primaryNavigation ul li#pnAbout a.selected {border-color: #FF0099;}

#primaryNavigation ul li#pnContact a,
#primaryNavigation ul li#pnContact a:link,
#primaryNavigation ul li#pnContact a:visited {
	color: #FFFF33;
}
#primaryNavigation ul li#pnContact a.selected {border-color: #FFFF33;}

/******************************************************************
* Secondary navigation
******************************************************************/

#secondaryNavigation {}

#secondaryNavigation ul {
	list-style: none;
	border-top: 1px solid #E4E4E4;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
}

#secondaryNavigation ul li {
	margin: 0px;
}

#secondaryNavigation ul li a,
#secondaryNavigation ul li a:link,
#secondaryNavigation ul li a:visited {
	display: block;
	padding: 10px 10px 10px 28px;
	border-bottom: 1px solid #E4E4E4;
	background: url(../../img/arrow01.gif) 10px 13px no-repeat;
}

#secondaryNavigation ul li a:hover,
#secondaryNavigation ul li a:active,
#secondaryNavigation ul li a:focus,
#secondaryNavigation ul li a.selected {
	background-color: #EEE;
	color:#1D2B33;
}


/******************************************************************
* Content
******************************************************************/

#content {
	background-color: #fff;
	padding-bottom: 10px;
}

body.about div#content #primary,
body.services div#content #primary {
	float: left;
	width: 640px;
}

body.about div#content #secondary,
body.services div#content #secondary {
	float: left;
	width: 320px;
}

#footer {
	border-top: 1px solid #E4E4E4;
	padding: 10px 0px;
	margin: 0px 20px;
}

#footer p {
	font-size: 1.1em;
	color: #666666;
	margin: 0px;
}

/******************************************************************
* project navigation
******************************************************************/

#projectNavigation {
	
}

#projectNavigation ul {
	list-style: none;
	border: 1px solid #E4E4E4;
	border-bottom: none;
}

#projectNavigation ul li {
	margin: 0px;
}

#projectNavigation ul li a,
#projectNavigation ul li a:link,
#projectNavigation ul li a:visited {
	display: block;
	padding: 10px 10px 10px 28px;
	border-bottom: 1px solid #E4E4E4;
	background: url(../../img/arrow01.gif) 10px 13px no-repeat;
}

#projectNavigation ul li a:hover,
#projectNavigation ul li a:active,
#projectNavigation ul li a:focus,
#projectNavigation ul li a.selected {
	background-color: #EEE;
	color:#1D2B33;
}

/******************************************************************
* forms
******************************************************************/

div.field {
	border-bottom: 1px solid #ccc;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #E4E4E4;
	padding: 10px;
}

div.field fieldset {
	border: none;
}

div.field div.indicator {
	float: left;
	width: 100px;
}

div.field div.indicator label,
div.field div.indicator span.label {
	font-size: 1.2em;
}

div.field div.singleInput,
div.field div.checkboxes,
div.field div.radios,
div.field div.multipleInput {
	float: left;
	width: 400px;
}

div.field div.checkboxes div.input label,
div.field div.radios div.input label {
	float: left;
	font-size: 1.2em;
	width: 200px;
}

div.field div.checkboxes div.input input,
div.field div.radios div.input input {
	float: left;
	margin-right: 5px;
}

div.field div.multipleInput div.input {
	float: left;
	margin-right: 10px;
}

div.field div.singleInput input.text,
div.field div.singleInput textarea {
	font-size: 1.2em;
	width: 400px;
	padding: 2px;
	font-family: inherit;
}

div.action {
	background-color: #E4E4E4;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

div.action input.reset {
	background-color: #888;
	font-size: 1.1em;
	border: 1px solid #eee;
	color: #fff;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
	float: left;
}

div.action input.submit {
	background-color: #000;
	font-size: 1.1em;
	border: 1px solid #000;
	color: #fff;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
	float: right;
}

/******************************************************************
* Error messages
******************************************************************/

#errorMessage {
	margin: 0px 20px;
	padding: 10px;
	background-color: #ff0000;
}

#errorMessage h1, 
#errorMessage h2, 
#errorMessage h3, 
#errorMessage p, 
#errorMessage ul, 
#errorMessage ul li,
#errorMessage a {
	color: #fff;
}

#errorMessage h2,
#errorMessage h3 {
	margin: 0px;
}

#errorMessage ul {
	margin: 0px;
}

#errorMessage a {
	font-weight: bold;
}

/******************************************************************
* Home page panels 1
******************************************************************/

div#homePanels01 {
	padding-bottom: 10px;
	border-bottom: 1px solid #e4e4e4;
	margin-left: 20px;
	margin-right: 20px;
}

div#homeAbout {
	float: left;
	width: 300px;
	padding-top: 20px;
}

div#homeAbout h1 {
	margin: 0px 0px 20px 0px;
	font-size: 2.4em;
}

div#homeAbout p {
	margin: 0px 0px 20px 0px;
}

div#homeAbout p.action a {
	color: #FF0099;
}

div#homeFeatured {
	float: left;
	margin-left: 20px;
	width: 600px;
}
div#homeFeatured div.image {
	border:0px solid #e4e4e4;
	padding: 0px 4px;
	margin-bottom: 10px;
	text-align: right;
}

div#homeFeatured p {
	font-size: 1.1em;
	margin: 0px;
	text-align: right;
}

/******************************************************************
* Home page panels 1
******************************************************************/

div#homePanels02 {
	
}

div#homePanels02 div.content {
	min-height: 140px;
}

div#homeWant {
	float: left;
	width: 300px;
	padding-top: 20px;
	margin-left: 20px;
	margin-right: 10px;
	background: url(../../img/bg_test1.gif) top right no-repeat;
}

div#homeWant h2 {
	margin: 0px 0px 20px 0px;
}

div#homeWant p {
	margin: 0px 0px 20px;
}

div#homeWant p.action a {
	color: #FF6600;
}

div#homeServices {
	float: left;
	padding-top: 20px;
	width: 300px;
	margin-left: 10px;
	background: url(../../img/bg_test1.gif) top right no-repeat;
	margin-right: 10px;
}

div#homeServices h2 {
	margin: 0px 0px 20px 0px;
}

div#homeServices p {
	margin: 0px 0px 20px;
}

div#homeServices ul {
	margin: 0px 0px 20px;
}

div#homeServices p.action a {
	color: #0099FF;
}

div#homeContact {
	float: left;
	background: url(../../img/bg_test1.gif) top right no-repeat;
	padding-top: 20px;
	width: 280px;
	margin-left: 10px;
}

div#homeContact h2 {
	margin: 0px 0px 20px 0px;
}

div#homeContact p {
	margin: 0px 0px 20px;
}

div#homeContact p.action a {
	color: #FFFF33;
}

/******************************************************************
* Contact form panel
******************************************************************/

#contactFormPanel {
	width: 600px;
	margin-bottom: 10px;
}

/***********************************************************************
* Testimonial
***********************************************************************/

div.testimonials {}

div.testimonials h2 {
	margin: 0px 0px 0px;
}

div.testimonials div.testimonial {
	border-bottom: 1px solid #e4e4e4;
	padding-top: 20px;
	margin-right: 20px;
}

div.testimonials div.testimonial h3 {
	background: url(../../img/comment.gif) 0px 2px no-repeat;
	padding-left: 20px;
	margin: 0px 0px 3px 0px;
	font-size: 1.3em;
}

div.testimonials div.testimonial p {
	margin: 0px 0px 10px;
}

/******************************************************************
* Portfolio
******************************************************************/

ul.portfolio {
    list-style: none;
    margin: 0px;
}

ul.portfolio li {
    margin: 0px 25px 25px;
	border:1px solid #E4E4E4;
	margin-bottom: 20px;
	background: url(../../img/bg_gradient01.jpg) repeat-x bottom left;}

ul.portfolio li h2 {
    margin: 0px;
    font-size: 1.2em;
    text-transform: uppercase;
}

ul.portfolio li h2 a {
	display: block;
	background: url(../../img/arrow01.gif) no-repeat 10px 13px;
	padding: 10px 10px 10px 28px;
	border-bottom: 1px solid #E4E4E4;
}

ul.portfolio li h2 a:hover,
ul.portfolio li h2 a:active,
ul.portfolio li h2 a:focus {
    background-color: #EEE;
	color:#1D2B33;
}

ul.portfolio li div.image {
    padding: 2px;
    background: #ffffff;
}

ul.portfolio li div.image img {
    display: block;
}

ul.portfolio li p {
    margin: 0px 10px;
    font-size: 1em;
}

p.action {
	overflow: hidden;
	font-size: 1.1em;
}

p.action a {
	float: left;
	padding: 3px 5px;
	background: #000;
	color: #fff;
	text-decoration: none;
}