/********************************************************
* hasLayout
********************************************************/

selector{
	height: 1%;
}

/********************************************************
* double margin
********************************************************/

selector {
	display: inline;
}

/********************************************************
* min-height
********************************************************/

selector {
	height: 100px;
}