<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	    <title>Title</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="imagetoolbar" content="no" />
		<meta name="language" content="en" />
		<meta name="author" content="Author" />
		<meta name="copyright" content="Author" />
		<meta name="robots" content="all,index,follow" />
		<meta name="keywords" content="keywords etc" />
		<meta name="description" content="content desc etc" />
		<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/default.css" type="text/css" />
		<!--[if IE 7]><link rel="stylesheet" href="css/ie7.css" type="text/css" /><![endif]-->
		<!--[if IE 6]><link rel="stylesheet" href="css/ie6.css" type="text/css" /><![endif]-->
		<noscript>
			<link href="css/noscript.css" rel="stylesheet" type="text/css" />
		</noscript>
	</head>
	<body>
		<div id="container">
		</div>
	</body>
</html>
