/********************************************************
* hasLayout
********************************************************/

#nav,
#nav ul,
#content,
#ourFocus,
#news,
#moreInformation,
#moreInformation div.field {
	zoom: 1;
}

/********************************************************
* Random
********************************************************/

#nav ul li a {
	float: left;
}

/********************************************************
* break word
********************************************************/

selector {
	word-wrap: break-word;
}