/******************************************************************************
* General
******************************************************************************/

* { 	margin: 0px; padding: 0px; }

body {
	font-size: 62.5%;
	font-family: Helvetica, Arial, Times New Roman;
	background-image: url(../img/bg/body.jpg);
}

img {
	border: none;
}


a {
	color: #ff017b;
	text-decoration: none;
}

body#pgContact a {
	color: #ff8201;
}

body#pgServices a {
	color: #5aff00;
}

body#pgAbout a {
	color: #a500ff;
}

body.projects a {
	color: #01d4ff;
}

body.team a {
	color: #ffcc00;
}

h1 span, h2 span, h3 span {
	color: #e7176f;
}

body#pgContact h1 span, body#pgContact h2 span, body#pgContact h3 span {
	color: #ff8201;
}

body#pgServices h1 span, body#pgServices h2 span, body#pgServices h3 span {
	color: #5aff00;
}

body.projects h1 span, body.projects h2 span, body.projects h3 span {
	color: #01d4ff;
}

body#pgAbout h1 span, body#pgAbout h2 span, body#pgAbout h3 span {
	color: #a500ff;
}

body.team h1 span, body.team h2 span, body.team h3 span {
	color: #ffcc00;
}

h1 {
	margin-bottom: 16px;
	font-size: 2.2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.4em;
}

p {
	font-size: 1.1em;
	margin-bottom: 15px;
	text-align: justify;
}

#logo {
	position: relative;
	height: 110px;
	width: 760px;
	margin: 0px auto;
}

#logo a {
	position: absolute;
	bottom: -88px;
	right: -18px;
	z-index: 3;
	display: block;
}

/******************************************************************************
* Glow
******************************************************************************/

#glow {
	background: url(../img/glow/top_pink.png) repeat-x;
	height: 28px;
}

.team #glow {
	background: url(../img/glow/top_yellow.png) repeat-x;
	height: 28px;
}

.projects #glow {
	background: url(../img/glow/top_blue.png) repeat-x;
	height: 28px;
}

#pgServices #glow {
	background: url(../img/glow/top_green.png) repeat-x;
	height: 28px;
}


#pgAbout #glow {
	background: url(../img/glow/top_purple.png) repeat-x;
	height: 28px;
}

#pgContact #glow {
	background: url(../img/glow/top_orange.png) repeat-x;
	height: 28px;
}

/******************************************************************************
* Glow 2
******************************************************************************/

#glow2 {
	background: url(../img/glow/bot_pink.png) repeat-x;
	height: 28px;
}

.team #glow2 {
	background: url(../img/glow/bot_yellow.png) repeat-x;
	height: 28px;
}

.projects #glow2 {
	background: url(../img/glow/bot_blue.png) repeat-x;
	height: 28px;
}

#pgServices #glow2 {
	background: url(../img/glow/bot_green.png) repeat-x;
	height: 28px;
}


#pgAbout #glow2 {
	background: url(../img/glow/bot_purple.png) repeat-x;
	height: 28px;
}

#pgContact #glow2 {
	background: url(../img/glow/bot_orange.png) repeat-x;
	height: 28px;
}

/******************************************************************************
* Primary navigation
******************************************************************************/

#primaryNavigation {
	background-color: #000;
}

#primaryNavigationInner {
	width: 760px;
	margin: 0 auto;
}

#primaryNavigation ul {
	list-style: none;
	overflow: hidden;
	padding-left: 7px;
}

#primaryNavigation ul li {
	float: left;
	font-size: 1.2em;
	text-transform: lowercase;
	font-weight: bold;
}

#primaryNavigation ul li a {
	padding: 12px 0px 15px 0px;
	display: block;
	text-decoration: none;
}

#primaryNavigation ul li a span.wrap {
	padding-left: 13px;
	padding-right: 12px;
	border-right: 1px solid #313131;
	display: block;
}

#primaryNavigation ul li a span {
	display: block;
	cursor: pointer;
}

#primaryNavigation ul li a {
	color: #ffffff;
}

body#pgHome #primaryNavigation ul li a.home,
#primaryNavigation ul li a.home:hover {
	color: #e71672;
}

body.team #primaryNavigation ul li a.team,
#primaryNavigation ul li a.team:hover {
	color: #ffcc00;
}

body.projects #primaryNavigation ul li a.projects,
#primaryNavigation ul li a.projects:hover {
	color: #01d4ff;
}

body#pgServices ul li a.services,
#primaryNavigation ul li a.services:hover {
	color: #5aff00;
}

body#pgAbout ul li a.about,
#primaryNavigation ul li a.about:hover {
	color: #a500ff;
}

body#pgContact #primaryNavigation ul li a.contact,
#primaryNavigation ul li a.contact:hover {
	color: #ff8201;
}

/******************************************************************************
* Layout
******************************************************************************/

#content {
	width: 830px;
	padding: 0px 35px; /* allow shadow */
	margin: 0 auto;
	background: url(../img/bg/content.png) repeat-y top center;
}

#contentInner {
	width: 720px;
	margin: 0 auto;
	background-color: #000;
	color: #fff;
	border-top: 1px solid #171717;
	border-bottom: 1px solid #171717;
	overflow: hidden;
	padding: 20px;
	
}

/******************************************************************************
* Footer
******************************************************************************/

#footer {
	background-color: #000;
	height: 42px;
}

/******************************************************************************
* Home page
******************************************************************************/

#homeIntroduction {
	background: url(../img/bg/home_intro.gif) no-repeat top right;
	padding-right: 180px;
	min-height: 241px;
	padding-bottom: 15px;
	border-bottom: 1px solid #171717;
	margin-bottom: 5px;
	overflow: hidden;
}

#homeIntroduction h1 {
}

#homeIntroduction p.showreel {
	font-size: 1.7em;
	font-weight: bold;
	margin-bottom: 0px;
	float: left;
	background: url(../img/bg/ink_drops00.gif) no-repeat 100% 2px;
	padding-right: 44px;
}

#homeIntroduction #showreel {
	clear: both;
	padding-top: 16px;
}

#homeFeaturedWork {
	padding-bottom: 15px;
	border-bottom: 1px solid #171717;
	margin-bottom: 5px;
}

#homeFeaturedWork h2 {
	background: #000 url(../img/bg/gradient01.gif) repeat-x;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 7px;
	padding-bottom: 12px;
}

#homeFeaturedWork div.image {
	margin-bottom: 9px;
}

#homeFeaturedWork div.image img {
	display: block
}

#homeFeaturedWork h3 {
	margin-left: 3px;
	margin-bottom: 7px;
}

#homeFeaturedWork p {
	margin-left: 3px;
}

#homeFeaturedWork p.readMore {
	text-align: right;
	font-size: 1.5em;
	font-weight: bold;
	background: url(../img/bg/ink_drops01.gif) no-repeat 100% 2px;
	padding-right: 37px;
}

#homeWorks {
	float: left;
	width: 405px;
	padding-right: 15px;
}

#homeWorks div.work {
	padding-bottom: 20px;
}

#homeWorks div.work h2 {
	background: #000 url(../img/bg/gradient01.gif) repeat-x;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 7px;
	padding-bottom: 12px;
	margin-bottom: 12px;
}

#homeWorks div.work h3 {
	color:#E7176F;
	margin: 0px 10px 3px 10px;
	font-size: 1.6em;
}

#homeWorks div.work div.image {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 9px;
}

#homeWorks div.work div.image img {
	display: block;
}

#homeWorks div.work p.description {
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 15px;
}

#homeNews {
	float: left;
	width: 300px;
}

#homeNews h2 {
	background: #000 url(../img/bg/gradient01.gif) repeat-x;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 7px;
	padding-bottom: 12px;
	margin-bottom: 12px;
}

#homeNews div.newsItem {
	padding-bottom: 16px;
}

#homeNews div.newsItem h3 {
	margin: 0px 8px;
	font-size: 1.6em;
}

#homeNews div.newsItem p.description {
	padding: 0px 8px;
}

#homeNews div.newsItem p.readMore {
	text-align: right;
	background: url(../img/bg/ink_drops02.gif) no-repeat 100% 2px ;
	padding: 0px 30px 3px 8px;
	margin-bottom: 0px;
}

/******************************************************************************
* Services
******************************************************************************/

#services {

}

#services  h2 {
	color: #5aff00;
	margin-bottom: 10px;
	font-size: 1.6em;
}

#services ul {
	list-style: none;
	margin-left: 15px;
}

#services ul li {
	padding-left: 40px;
	padding-top: 17px;
	padding-bottom: 12px;
	margin-bottom: 10px;
	font-size: 1.2em;
	background: url(../img/bg/ink_drop_green.gif) no-repeat;
}

#services p.call {
	text-align: right;	
	font-size: 1.6em;
	font-weight: bold;
	background: url(../img/bg/ink_drops00.gif) no-repeat 100% 2px;
	padding-right: 40px;
	color: #5aff00;
}

/******************************************************************************
* Team
******************************************************************************/

#team {
	
}

#team ul.members {
	list-style: none;	
	overflow: hidden;
}

#team ul.members li {
	float: left;
	background: url(../img/bg/ink_drop_yellow_small.gif) no-repeat 0% 50%;
	padding-left: 11px;
	width: 229px;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 20px;
}

#team ul.members li a {
	
}

#team ul.members li a span {
	color: #ffffff;
}

/******************************************************************************
* About
******************************************************************************/

#about {
}

#about h2 {
	color: #a500ff;
	margin-bottom: 12px;
}

#about p.bit01 {
	background: url(../img/bg/ink_drop_blue.gif) no-repeat;
	padding-left: 42px;
	color: #a500ff;
	padding-bottom: 6px;
}

#about p.bit02 {
	background: url(../img/bg/ink_drop_yellow.gif) no-repeat;
	padding-left: 42px;
	padding-bottom: 6px;
}

#about p.bit03 {
	background: url(../img/bg/ink_drop_pink.gif) no-repeat;
	padding-left: 42px;
	color: #a500ff;
	padding-bottom: 6px;
}

/******************************************************************************
* Team member
******************************************************************************/

#teamMember {
	overflow: hidden;
}

#teamMember div.image {
	border: 6px solid #2e2e2e;
	margin-bottom: 18px;
}

#teamMember div.image img {
	display: block;
}

#teamMember div.gallery {
	
}

#teamMember div.gallery ul {
	list-style: none;
	overflow: hidden;
	margin-bottom: 15px;
}

#teamMember div.gallery ul li {
	float: left;
	margin-right: 6px;
}

#teamMember div.gallery ul li a {
	display: block;
	border: 3px solid #2e2e2e;
}

#teamMember div.gallery p.viewGallery {
	font-size: 1.5em;
	float: right;
	background: url(../img/bg/ink_drops00.gif) no-repeat 100% 2px;
	padding-right: 40px;
	padding-bottom: 3px;
}

/******************************************************************************
* Projects landing
******************************************************************************/

#projects {
	
}

#projects ul.pieces {
	list-style: none;
	overflow: hidden;
}

#projects ul.pieces li {
	float: left;
	width: 154px;
	margin-right: 30px;
	margin-bottom: 18px;
}

#projects ul.pieces li.last {
	margin-right: 0px;
}

#projects ul.pieces li div.image {
	border: 3px solid #2e2e2e;
	margin-bottom: 7px;
}

#projects ul.pieces li h2 {
	color: #ffffff;
	font-size: 1.3em;
}

#projects ul.pieces li h3 {
	color: #01D4FF;
	font-size: 2.3em;
	margin-bottom: 7px;
}

#projects ul.pieces li p {
	background:transparent url(../img/bg/ink_drops02.gif) no-repeat 100% 2px;
	margin-bottom:0;
	padding:0 30px 3px 8px;
	text-align:right;
	font-weight: bold;
}

/******************************************************************************
* Project
******************************************************************************/

#project {
	overflow: hidden;
}

#project div.image {
	border: 6px solid #2e2e2e;
	margin-bottom: 18px;
}

#project div.image img {
	display: block;
}

#project div.subSection01 {
	float: left;
	width: 529px;
	padding-right: 13px;
}

#project div.subSection01 ul {
	list-style: none;
	margin-left: 15px;
}

#project div.subSection01 ul li {
	padding-left: 40px;
	padding-bottom: 12px;
	margin-bottom: 10px;
	font-size: 1.2em;
	background: url(../img/bg/ink_drop_blue.gif) no-repeat;
	color: #01d4ff;
}

#project div.subSection01 p.viewGallery {
	font-size: 1.5em;
	float: right;
	background: url(../img/bg/ink_drops00.gif) no-repeat 100% 2px;
	padding-right: 40px;
	padding-bottom: 3px;
}

#project div.subSection02 {
	float: left;
	width: 178px;
}

#project div.subSection02 a {
	display:block;
	margin-bottom: 13px;
}

#project div.subSection02 a img {
	display: block;
	border: 2px solid #2e2e2e;
}

/******************************************************************************
* Contact
******************************************************************************/

#contactIntroduction {
	margin-bottom: 20px;
}

#directors {
	overflow: hidden;
	padding-bottom: 25px;
}

#directors  h2 {
	font-size: 1.3em;
}

#directors p.email,
#directors p.tel,
#directors p.mob {
	margin-bottom: 0px;
}

/* james */

#directors div.james {
	background: url(../img/contact/logo_blue.gif) no-repeat;
	float: left;
	width: 190px;
	padding-left: 170px;
	min-height: 92px;
	padding-top: 30px;
}

#directors div.james a ,
#directors div.james p.title,
#directors div.james p.tel span,
#directors div.james p.mob span{
	color: #4fcbff;
}

/* david */

#directors div.david {
	background: url(../img/contact/logo_red.gif) no-repeat;
	float: left;
	width: 190px;
	padding-left: 170px;
	min-height: 92px;
	padding-top: 30px;
}

#directors div.david a ,
#directors div.david p.title,
#directors div.david p.tel span,
#directors div.david p.mob span{
	color: #ed1e24;
}

