* {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #d7d7de;
	background-image: url(../img/bg_body.gif);
	background-repeat: repeat-x;
	background-position: top left;
	font-size: 62.5%;
	font-family: Helvetica;
}

img {
	border: none;
}

#logo {
	padding-bottom: 25px;
}

#content {
	background-image: url(../img/bg.gif);
	padding: 25px 25px 25px 25px;
	background-color: #0A0B10;
}

h1 {
	position: absolute;
	left: -99999em;
}


h2 {
	font-size: 1.2em;
	font-weight: bold;
	text-transform: uppercase;
	color: #e1ded2;
	margin-bottom: 2px;
}

p {
	color: #e1ded2;
	font-size: 1.1em;
	margin-bottom: 10px;
}

#about {
	width: 40%;
}

#about div.inner {
	padding-bottom: 25px;
}

#contact {
	width: 40%;
}

#contact div.inner {
	padding-bottom: 25px;
}

#primaryNavigation {
	padding: 25px;
}

#primaryNavigation ul {
	list-style: none;
}

#primaryNavigation ul li {
	font-size: 27px;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#primaryNavigation ul li a {
	color:#666;
	text-decoration: none;
	outline: none;
}

#primaryNavigation ul li a:hover {
	color: #0A0B10;
}

#work {
	width: 100%;
}

#work div.inner {
	padding-bottom: 25px;
}

#work .showreel {
	overflow: hidden;
	width: 100%;
	padding-bottom: 10px;
}

#work .showreel .clip {
	position:relative;
	overflow: hidden;
	width: 100%;
}

#work div.showreel div.clip ul.pages {
	position:relative;
	overflow: hidden;
	list-style: none;
	width: 3000px;
}

#work div.showreel div.clip ul.pages li.page {
	width: 370px;
	color: #fff;
	float: left;
	margin-right: 8px;
	border: 1px solid #ffffff;
	margin-bottom: 8px;
}

#work div.showreel div.clip ul.pages li.page img {
	display: block;
}

#work div.showreel a.back {
	float: left;
	margin-right: 10px;
}

#work div.showreel a.forward {
	float: left;
}