body#blog div#content {
	background:transparent url(../img/bg.gif) repeat-y scroll 425px 0;
}


div#blogPrimaryPanel {
	float: left;
	width: 400px;
	margin-right: 45px;
}

div#blogPrimaryPanel h2.date-header {
	font-size: 1.1em;
	margin-bottom: 3px;
	color: #777777;
}

div#blogPrimaryPanel h3.post-title {
	font-size: 1.2em;
}

div#blogPrimaryPanel div.post {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 17px;
}

div#blogSidePanel {
	float: left;
	width: 205px;
}

div#blogSidePanel h2 {

}

div#blogSidePanel ul.generic {
	margin-bottom: 0px;	
}

div#blogSidePanel div.previousPosts,
div#blogSidePanel div.archives,
div#blogSidePanel div.information {
	margin-bottom: 10px;
}

div#blogSidePanel div.previousPosts,
div#blogSidePanel div.archives {

}

div#comments {
	padding: 10px;
	background-color: #DDDDDD;
	border: 1px solid #cccccc;
}

div#comments h4 {
	font-size: 1.2em;
}
