div.carousel {
	margin-bottom: 10px;
	padding: 10px;
	overflow: hidden;
	border: 1px solid #333;
	background-color: #eeeeee;
	position: relative;
}

div.carousel a.next,
div.carousel a.previous,
div.carousel a.stop,
div.carousel a.start {
	font-size: 1.2em;
	float: left;
	padding: 10px;
	border: 1px solid #333;
	margin-right: 5px;	
	margin-top: 10px;
}

div.carousel div.indicatorContainer {
	margin-top: 10px;
	overflow: hidden;
}

div.carousel div.indicatorContainer a {
	float: left;
	padding: 5px;
	font-size: 1.1em;
	border: 1px solid #333;
	margin-right: 5px;
}

div.carousel ul {
	list-style: none;
	overflow: hidden;
	position: relative;
	width: 1216px;
}

div.carousel ul li {
	white-space:nowrap; /* this is important*/
	border: 1px solid #333;
	margin-right: 10px;
}

div.carousel ul li div {
	padding: 50px;
	font-size: 1.2em;
}

div.carousel ul li img {
	display: block;
}

div.carousel ul li p {
	padding: 50px;
}
