/*******************************************************************
* Global
*******************************************************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 62.5%;
	font-family: Arial, Helvetica, sans-serif;
	color: #090D0F;
}

textarea {
	font: inherit;
}

div.code {
	border: 1px solid #f5f5f5;
	background-color: #f9f9f9;
	padding: 10px;
	overflow: auto;
	margin-bottom: 10px;
}

div.code pre {
	font-size: 1.5em;
}

a,
a:link,
a:visited {
	color: #1D2B33;
	color: #005BD8;
	text-decoration: underline;
}

a:hover,
a:focus
a:active {
	text-decoration: none;
}

a img {
	border: none;
}

abbr {
	
}

a abbr {
	border: none;
}

.hide {
	display: none;
}

.off {
	position: absolute !important;
	left: -999999em !important;
	top: 0 !important;
}

/*******************************************************************
* Clearfix
*******************************************************************/

.clearfix,
div.faux {
	display:block;
}

.clearfix:after,
div.faux:after  {
	clear:both;
	content:".";
	display:block;
	height:0px;
	visibility:hidden;
}

/*******************************************************************
* Main structure
*******************************************************************/

a#logo {
	display: block;
	margin-bottom: 20px;
	background: none;
}


a#logo img {
	display: block;
}

div#container {
	border-top: 10px solid #898F2C;
	padding-left: 20px;

}

div.faux {
	margin-top: 20px;
	margin-bottom: 20px;
	background: url(../img/bg.gif) repeat-y 270px 0px;	
}

div#controls {
	float: left;
	width: 240px;
	padding-top: 20px;
	margin-right: 58px;
}

div#content {
	float: left;
	width: 650px;
	padding-top: 26px;
}

div#footer {
	background-color: #1D2B33;
	padding: 20px 40px 15px 20px;
}

div#footer p {
	font-size: 1.1em;
	color: #ffffff;
	margin-bottom: 5px;
}

div#footer a {
	color: #ffffff;
	font-weight: bold;
}

/*******************************************************************
* Primary navigation
*******************************************************************/

div#primaryNavigation {
	padding-bottom: 15px;
	margin-bottom: 10px;
}

div#primaryNavigation ul {
	list-style: none;
}

div#primaryNavigation ul li {
	display: block;
	font-size: 1.2em;
	margin-bottom: 3px;
	margin-left: 7px;
}

div#primaryNavigation ul li a,
div#primaryNavigation ul li a:link, 
div#primaryNavigation ul li a:visited {
	display: block;
	background-color: #f9f9f9;
	padding: 4px 8px;
	text-decoration: none;
	border-bottom: 4px solid #f3f3f3;
	font-weight: bold;
	color: #1D2B33;
}

div#primaryNavigation ul li a:hover,
div#primaryNavigation ul li a:focus, 
div#primaryNavigation ul li a:active,
div#primaryNavigation ul li a.selected {
	background-color: #1D2B33;
	color: #ffffff;
	border-bottom: 4px solid #898F2C;
}

/*******************************************************************
* Headings
*******************************************************************/

h1 {
	font-size: 2.5em;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin-bottom: 12px;
	color: #1D2B33;
	text-transform: uppercase;
	padding-bottom: 4px;
}

h2 {
	font-size: 1.6em;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 12px;
	color: #1D2B33;
	text-transform: uppercase;
}

h3 {
	font-size: 1.3em;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 12px;
	color: #1D2B33;
}

h3 a, h3 a:link, h3 a:visited {
	/*color: #1D2B33;*/
}

p {
	font-size: 1.2em;
	margin-bottom: 10px;
	line-height: 1.3em;
}

ul.generic {
	list-style: none;
	margin-bottom: 10px;
}

ul.generic li {
	margin-bottom: 2px;
	font-size: 1.2em;
	background: url(../img/arrow_right.gif) no-repeat -2px -3px;
	padding-left: 19px;
}

ul.generic li ul {
	list-style: none;
	margin-left: 10px;
}

ul.generic li ul li {
	font-size: 1em;
}

ul.generic li ol {
	list-style: none;
	margin-left: 10px;
}

ul.generic li ol li {
	font-size: 1em;
}

ol.generic {
	margin-bottom: 10px;
}

ol.generic li {
	margin-bottom: 2px;
	font-size: 1.2em;
	margin-left: 30px;
}

ol.generic li ul {
	list-style: none;
	margin-left: 10px;
}

ol.generic li ul li {
	font-size: 1em;
}

ol.generic li ol {
	list-style: none;
	margin-left: 10px;
}

ol.generic li ol li {
	font-size: 1em;
}

/*******************************************************************
* Projects
*******************************************************************/

ul.projects {
	overflow: hidden;
	list-style: none;
}

ul.projects li {
	float: left;
	width: 180px;
	margin-right: 15px;
	margin-bottom: 5px;
	font-size: 1.2em;
	min-height: 76px;
}

ul.projects li h2 {
	font-size: 1em;
	margin-bottom: 0px;
	text-transform: none;
}
ul.projects li p {
	font-size: 1em;
}
