div#dropDownMenu ul:after {
	clear:both;
	content:".";
	display:block;
	height:0px;
	visibility:hidden;
}

div#dropDownMenu ul {
	display:block;
	zoom: 1;
}

/**********************************************************
* blah
**********************************************************/

div#dropDownMenu {
	margin-bottom: 10px;
	position: relative;
	z-index: 150;
}

div#dropDownMenu ul {
	list-style:none;
	background: #f5f5f5;
	border-left: 1px solid #333;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	position: relative;
}

/**********************************************************
* Top level
**********************************************************/

div#dropDownMenu ul li {
	float: left;
	border-right: 1px solid #333;
	position: relative;
}

div#dropDownMenu ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	font-size: 11px;
	color: #000;
	position: relative;
}

div#dropDownMenu ul li a:hover,
div#dropDownMenu ul li a.selected,
div#dropDownMenu ul li a:focus {
	background-color: #333333;
	color: #ffffff;
}

/**********************************************************
* Second level
**********************************************************/

div#dropDownMenu ul li ul {
	position: absolute;
	left: -999999em;
	overflow: visible;
	width: 200px;
}

div#dropDownMenu ul li ul li {
	float: none;
	display: block;
	border-right: 0px;
}