/**************************************************************
* form
**************************************************************/

div.form {
	margin-bottom: 10px;
	background-color: #EFF2E6;
	padding-bottom: 13px;
}

/**************************************************************
* fieldset
**************************************************************/

fieldset {
	border: none;
}

fieldset legend {
	position: absolute;
	left: -9999em;
	top: 0;
}

fieldset legend span.legend {
	position: absolute;
	left: -9999em;
	top: 0;
}

/**************************************************************
* field
**************************************************************/

div.field {
	padding: 10px;
	border-bottom: 1px solid #dddddd;
}

div.field p.remaining {
	color:#738075;
	font-size:1.1em;
	font-weight:bold;
}

div.field:after {
	clear:both;
	content:".";
	display:block;
	height:0px;
	visibility:hidden;
}

div.field div.indicator {
	display: block;
	margin-bottom: 3px;
}

div.field div.indicator label,
div.field div.indicator span.label {
	font-size: 1.1em;
	color:#738075;
	text-transform: uppercase;
	font-weight: bold;
}

div.error div.indicator label,
div.error div.indicator span.label {
	color: #ff0000;
}

div.field div.indicator label span.required,
div.field div.indicator span.label span.required {
}

div.field span.errorText {
	position: absolute;
	left: -99999em;
	top: 0;
}

div.field div.singleInput,
div.field div.multipleInput,
div.field div.checkboxes,
div.field div.radios {
}

div.field div.multipleInput div.input {
	float: left;
}

div.field div.multipleInput div.input label {
	margin-right: 7px;
	float: left;
	font-size: 1.1em;
	color:#738075;
	margin-top: 5px;
}

div.field input.text {
	background-color: #FFFFFF;
	border-color:#C2C4BA;
	border-style:solid;
	border-width:1px 0 0 1px;
	color:#333333;
	font-size:1.2em;
	padding:5px 3px 4px;
	font-family:Arial,Helvetica,sans-serif;
}

div.field textarea {
	background-color: #FFFFFF;
	border-color:#C2C4BA;
	border-style:solid;
	border-width:1px 0 0 1px;
	color:#333333;
	font-size:1.2em;
	padding:5px 3px 4px;
	height: 150px;
	font-family:Arial,Helvetica,sans-serif;
}

div.field select {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 1.2em;
}

div.field div.singleInput input.text, 
div.field div.singleInput textarea {
	width: 550px;
}

div.field div.multipleInput div.input input.text {
	width: 50px;
	float: left;
	margin-right: 7px;
}

div.field div.multipleInput div.input select {
	width: 59px;
	float: left;
	margin-right: 7px;
}

div.field div.checkboxes,
div.field div.radios {
	padding-top: 5px;
}

div.field div.checkboxes div.input,
div.field div.radios div.input {
	margin-bottom: 5px;
	overflow: hidden;
}

div.field div.checkboxes div.input label,
div.field div.radios div.input label {
	font-size: 1.1em;
	color:#738075;
	float: left;
}

div.field div.checkboxes div.input input,
div.field div.radios div.input input {
	margin-right: 5px;
	float: left;
}

/**************************************************************
* action
**************************************************************/

div.action {
	padding: 10px 10px 0px 10px;
}

div.action:after {
	clear:both;
	content:".";
	display:block;
	height:0px;
	visibility:hidden;
}

div.action input.reset {	
	float: left;
	font-family:Arial,Helvetica,sans-serif;
	background:#222222;
	border:1px outset #222222;
	cursor:pointer;
	font-weight:bold;
	padding:2px 8px;
	color: #ffffff;
	font-size: 1.1em;
}

div.action input.submit {
	float: right;
	font-family:Arial,Helvetica,sans-serif;
	background:#898F2C;
	border:1px outset #898F2C;
	cursor:pointer;
	font-weight:bold;
	padding:2px 8px;
	color: #ffffff;
	font-size: 1.1em;
}

/**************************************************************
* highlighting
**************************************************************/

div.highlight {
	background: #DCDFD1;
}

div.highlight div.indicator {
	
}

div.highlight input.text,
div.highlight textarea {
	border-color: #71736d !important;
}

/**************************************************************
* error message
**************************************************************/

div#errorMessage {
	background-color: #ff0000;
	padding: 10px;
}

div#errorMessage h3 {
	color: #ffffff;
	font-weight: bold;
	font-size: 1.4em;
	text-transform: uppercase;
}

div#errorMessage ul {
	list-style: square;
}

div#errorMessage ul li {
	font-size: 1.2em;
	font-weight: bold;
	color: #ffffff;
	margin-left: 30px;
}

div#errorMessage ul li a {
	color: #ffffff;
}

/**************************************************************
* success message
**************************************************************/

div#successMessage {
	margin-bottom: 10px;
	background-color: #008D18;
	padding: 10px;
}

div#successMessage h2 {
	color: #ffffff;
	margin-bottom: 0px;
	font-size: 1.4em;
}

div#successMessage h3 {
	color: #ffffff;
	margin-bottom: 0px;
	font-size: 1.4em;
}

/**************************************************************
* contextual help
**************************************************************/

div.field div.contextualHelpType1 {
	margin-left: 190px;
	margin-right: 10px;
	display: none;
}

div.field div.contextualHelpType1 p {
	color: #999;
	font-style: italic;
}

div.field div.contextualHelpType2 {
	margin-left: 190px;
	margin-right: 10px;
	padding-top: 10px;
	clear: both;
	display: none;
}

div.field div.contextualHelpType2 p {
	color: #999;
	font-style: italic;
}
