/******************************************************************
* Generic
******************************************************************/

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 62.5%;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica", arial;
	background: url(../img/bg_body.jpg) repeat-x;
	color: #1d2b33;
	border-top: 10px solid #6CA714;
}

/******************************************************************
* Link styles
******************************************************************/

a img {
	border: none;
}

a, a:link, a:visited {
	color: #666666;
}

a, a:hover, a:focus, a:active {
	color: #6CA714;
}

.hide {
	display: none;
}

.off,
body#pgHomePage h1,
#breadcrumb p,
div.field fieldset legend,
div.field div.multipleInput div.input label {
	position: absolute !important;
	left: -999em !important;
	top: 0 !important;
}

/******************************************************************
* Clearfix
******************************************************************/

selector:after,
div#header:after,
div#content:after,
#breadcrumb ul:after,
div.action:after,
#featuredWork:after,
#sections:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}

/******************************************************************
* Text styles
******************************************************************/

h1, h2, h3, h4, h5, h6, p {
	margin: 0px 20px 10px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.5em;
}

p {
	font-size: 1.2em;
	line-height: 1.4em;
}

ul, ol {
	margin: 0px 20px 10px;
	list-style: square;
}

ul li, ol li {
	font-size: 1.2em;
	margin-left: 15px;
	margin-bottom: 3px;
}

ul li ul li,ol li ol li {
	font-size: 1em;
}

/******************************************************************
* breadcrumb
******************************************************************/

#breadcrumb {
	padding: 10px;
	border-bottom: 1px solid #E4E4E4;
	margin: 0px 10px 10px;
}

#breadcrumb ul {
	list-style: none;
	margin: 0px;
}

#breadcrumb ul li {
	float: left;
	font-size: 1.1em;
	margin: 0px 10px 0px 0px;
}

/******************************************************************
* something
******************************************************************/

div#container {
	width: 960px;
	margin: 0px auto;
}

div#header {
	padding: 0px 20px;
}

#logo {
	float: left;
	margin-top: 24px;
	margin-bottom: 22px;
}

#primaryNavigation {
	float: right;
	margin-top: 29px;
}

#primaryNavigation ul {
	list-style: none;
	overflow: hidden;
}

#primaryNavigation ul li {
	float: left;
	margin-right: 5px;
	font-size: 1.1em;
	margin-left: 0px;
	text-transform: uppercase;
}

#primaryNavigation ul li.last {
	margin-right: 0px;
}

#primaryNavigation ul li a,
#primaryNavigation ul li a:link,
#primaryNavigation ul li a:visited {
	font-weight: bold;
	padding: 5px 8px;
	display: block;
	color: #fff;
	text-decoration: none;
}

#primaryNavigation ul li a.selected,
#primaryNavigation ul li a:hover,
#primaryNavigation ul li a :focus {
	color: #6CA714;
}

#content {
	background-color: #fff;
	padding-bottom: 10px;
}


body.projects div#content #primary {
	float: left;
	width: 620px;
}

body.projects div#content #secondary {
	float: left;
	width: 300px;
}

#footer {
	border-top: 1px solid #E4E4E4;
	padding: 10px;
	margin: 0px 10px;
}

#footer p {
	font-size: 1.1em;
	color: #666666;
	margin: 0px;
}

/******************************************************************
* forms
******************************************************************/

div.field {
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #E4E4E4;
	padding: 10px;
}

div.field fieldset {
	border: none;
}

div.field div.indicator {
	float: left;
	width: 100px;
}

div.field div.indicator label,
div.field div.indicator span.label {
	font-size: 1.2em;
}

div.field div.singleInput,
div.field div.checkboxes,
div.field div.multipleInput {
	float: left;
	width: 400px;
}

div.field div.multipleInput div.input {
	float: left;
	margin-right: 10px;
}

div.field div.singleInput input.text,
div.field div.singleInput textarea {
	font-size: 1.2em;
	width: 400px;
	padding: 2px;
	font-family: inherit;
}

div.action {
	background-color: #E4E4E4;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

div.action input.submit {
	background-color: #1D2B33;
	font-size: 1.1em;
	border: 1px solid #eee;
	color: #fff;
	padding: 5px;
	font-weight: bold;
	cursor: pointer;
	float: right;
}

/******************************************************************
* projects list
******************************************************************/

body#pgProjectsHome div#projectNavigation ul {
	overflow: hidden;
	list-style: none;
}

body#pgProjectsHome div#projectNavigation ul li {
	margin-left: 0px;
	float: left;
	width: 290px;
	padding-right: 10px;
	min-height: 100px;
}

body#pgProjectsHome div#projectNavigation ul li h2 {
	font-size: 1.6em;
}

body#pgProjectsHome div#projectNavigation ul li p {
	font-size: 1em;
}

/******************************************************************
* accordion
******************************************************************/

#nestedAccordion {
	background-color: #fff;
	padding: 10px;
	color: #333;
	border: 10px solid #EEE;
}

#nestedAccordion p , #nestedAccordion a{
	color: #333;
}

#innerAccordion div.panel div.inner {
	margin-left: 10px;
	margin-bottom: 10px;
}

#innerAccordion div.panel div.inner  p {
	padding: 5px 10px 25px 35px;
}

/******************************************************************
* Home page
******************************************************************/

body#pgHome #primary {
	float: left;
	width: 320px;
}

body#pgHome #secondary {
	float: left;
	width: 320px;
}

body#pgHome #tertiary {
	float: left;
	width: 320px;
}

#featuredWork {
	margin-bottom: 10px;
	background-color: #1D2B33;
	padding: 10px;
}

#featuredWork div.information {
	float: left;
	width: 470px;
}

#featuredWork div.information h2,
#featuredWork div.information p {
	color: #fff;
}

#featuredWork div.carousel {
	float: left;
	width: 470px;
}

/******************************************************************
* Contact page
******************************************************************/

#contactFormPanel {
	width: 600px;
	margin-bottom: 10px;
}