* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 62.5%;
	font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica";
	background: #1d2b33 url(../img/bg_body_small.gif) repeat-x;
	color: #1d2b33;
}

body#pgHomePage {
	background: #1d2b33 url(../img/bg_body.gif) repeat-x;
}

a img {
	border: none;
}

a, a:link, a:visited {
	color: #ffffff;
}

a, a:hover, a:focus, a:active {
	color: #70751F;
}

.hide {
	display: none;
}

.off {
	position: absolute !important;
	left: -999em !important;
	top: 0 !important;
}

h1 {
	font-size: 3em;
	color: #ffffff;
	margin-bottom: 12px;
}
h2 {
	font-size: 2em;
	color: #ffffff;
	margin-bottom: 12px;
}
h3 {
	font-size: 1.5em;
	color: #ffffff;
	margin-bottom: 12px;
}
p {
	font-size: 1.2em;
	margin-bottom: 12px;
	color: #ffffff;
	line-height: 1.4em;
}

ul {
	margin-bottom: 12px;
	list-style: square;
}

ul li {
	font-size: 1.2em;
	color: #ffffff;
	margin-left: 25px;
	margin-bottom: 3px;
}

ul li ul li {
	font-size: 1em;
}

/******************************************************************
* something
******************************************************************/

div#container {
	width: 960px;
	background: url(../img/bg_container_small.gif) no-repeat top center;
	min-height: 500px;
	padding-left:10px;
	padding-right: 10px;
	margin: 11px auto 0px;
}

body#pgHomePage div#container {
	background: url(../img/bg_container.gif) no-repeat top center;
}

div#header {
	padding: 0px 20px;
	overflow: hidden;
	margin-bottom: 30px;
}

body#pgHomePage div#header {
	margin-bottom: 12px;
}


#logo {
	float: left;
	margin-top: 26px;
}

#primaryNavigation {
	margin-top: 40px;
	float: right;
}
#primaryNavigation ul {
	list-style: none;
	overflow: hidden;
}

#primaryNavigation ul li {
	float: left;
	margin-right: 5px;
	font-size: 1.1em;
	margin-left: 0px;
	text-transform: uppercase;
}

#primaryNavigation ul li.last {
	margin-right: 0px;
}

#primaryNavigation ul li a,
#primaryNavigation ul li a:link,
#primaryNavigation ul li a:visited {
	font-weight: bold;
	padding: 5px 8px;
	display: block;
	color: #1d2b33;
	text-decoration: none;
}

#primaryNavigation ul li a.selected,
#primaryNavigation ul li a:hover,
#primaryNavigation ul li a :focus {
	background-color: #1d2b33;
	color: #ffffff;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#content {
	padding: 0px 20px;
	margin-bottom: 20px;
}

body#pgHomePage #content {
	padding: 0px;
}

#featuredWork {
	background: url(../img/bg_featuredwork_bot.gif) no-repeat bottom left;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

#featuredWorkInner {
	background: url(../img/bg_featuredwork_top.gif) no-repeat top left;
	overflow: hidden;
	min-height: 250px;
}

#featuredWork div.information {
	float: left;
	width: 420px;
	padding: 20px;
}

#featuredWork div.information h2 {
	font-size: 2em;
	color: #1d2b33;
}

#featuredWork div.information p {
	color: #1d2b33;
}

#featuredWork div.carousel {
	float: left;
	padding: 20px 20px 20px 0px;
	width: 480px;
}

#featuredWork div.carousel div.clip ul {
	list-style: none;
}

#featuredWork div.carousel div.clip ul li{
	border: 1px solid #A8B4BB;
	background: #ffffff;
	padding: 10px;
	min-height: 170px;
}

#sections {
	overflow: hidden;
	background: url(../img/bg_fauxorders.gif) repeat-y top left;
}

body#pgHomePage #primary,
body#pgHomePage #secondary,
body#pgHomePage #tertiary {
	float: left;
	width: 280px;
	padding: 10px 20px;
}

body#pgHomePage h1 {
	position: absolute;
	left: -9999em;
	top: 0;
}

body#pgHomePage #primary h2,
body#pgHomePage #secondary h2,
body#pgHomePage #tertiary h2{
	font-size: 1.8em;
	padding-bottom: 12px;
	background: url(../img/bg_border01.gif) repeat-x bottom left;
}

body.projects div#content {
	overflow: hidden;
}

body.projects div#content #primary {
	float: left;
	width: 620px;
}

body.projects div#content #secondary {
	float: left;
	width: 300px;
}

#footer {
	background: url(../img/bg_border01.gif) repeat-x top left;
	padding: 20px;
}

#footer p {
	font-size: 1.1em;
	color: #C8C8C8;
}

/******************************************************************
* form
******************************************************************/

div.field {
	overflow: hidden;
	margin-bottom: 10px;
}

div.field div.indicator {
	float: left;
	width: 100px;
}

div.field div.indicator label,
div.field div.indicator span.label {
	font-size: 1.2em;
	color: #fff;
}

div.field div.singleInput,
div.field div.checkboxes {
	float: left;
	width: 400px;
}


div.field div.singleInput input.text,
div.field div.singleInput textarea {
	font-size: 1.2em;
	width: 400px;
	padding: 2px;
	font-family: inherit;
}

div.action {
	padding-left: 100px;
}

div.action input.submit {
	width: 200px;
	padding: 5px;
}

/******************************************************************
* projects list
******************************************************************/

body#pgProjectsHome div#projectNavigation ul {
	overflow: hidden;
	list-style: none;
}

body#pgProjectsHome div#projectNavigation ul li {
	margin-left: 0px;
	float: left;
	width: 290px;
	padding-right: 10px;
	min-height: 90px;
}

body#pgProjectsHome div#projectNavigation ul li h2 {
	font-size: 1.6em;
}

body#pgProjectsHome div#projectNavigation ul li p {
	font-size: 1em;
}