div.tabset {
	margin-bottom: 10px;
}

div#content div.tabset ul.tabNavigation {
	list-style: none;
	overflow: hidden;
}

div#content div.tabset ul.tabNavigation li {
	float: left;
	list-style: none;
	margin-right: 1px;
	margin-bottom: 0px;
	font-size: 1.2em;
}

div.tabset ul.tabNavigation li a,
div.tabset ul.tabNavigation li a:visited,
div.tabset ul.tabNavigation li a:link {
	display: block;
	padding: 10px;
	text-decoration: none;
	background-color:#F9F9F9;
	border-top:4px solid #F3F3F3;
}

div.tabset ul.tabNavigation li a.selected,
div.tabset ul.tabNavigation li a:hover,
div.tabset ul.tabNavigation li a:active {
	background-color: #1D2B33;
	color: #ffffff;
	border-top:4px solid #898F2C;	
}

div.tabset div.unselected {
	display: none;
}

div.tabset div.tab {
	background-color: #1D2B33;
	color: #ffffff;
	padding: 10px;
}
