/********************************************************
* hasLayout
********************************************************/

div#container,
#homePanels01,
#homePanels02,
#hero,
#breadcrumb,
#header,
#content,
div#primaryNavigation,
div#primaryNavigation ul,
div#footer,
div.field,
div.action {
	zoom: 1;
}

/********************************************************
* double margin
********************************************************/

#breadcrumb ul li {
	display: inline;
}

#primaryNavigation ul {
	float: right;
}